<h2>Hello <%= @user.display_name %>!</h2>

<p><%= "Congrats, You have sucessfully joined #{@league.name} league for #{@match.team_names} match starting on #{@match.human_start_time}." %></p>

<p><%= "You can edit your team lineup upto 40 minutes, before the match goes live from leaderboard page." %></p>

<p>You can also check your team rank and other challengers standing when match goes live.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
