<h2>Hello <%= @user.display_name %>!</h2>

<p><%= "You played very well but other challengers scored better, in #{@league.name} league for #{@match.team_names} match." %></p>

<p>Alas! there is always a second chance to rise from failure and win the crown.</p>

<p>Checkout where your team rank dipped in front of other challengers.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
