<h2>Hello <%= @user.display_name %>!</h2>

<p><%= "This is to notify that your league details has been updated, We have shifted you to a new league for same prize money #{@league.name} league for #{@match.team_names} match starting in next hour." %></p>

<p>You can checkout other challengers and your team rank by just clicking leaderboard button below.</p>

<p style="text-align: center;"><%= link_to 'Check out Leaderboard', "https://fantoss.com/matches/#{ @match.id }/viewteam", style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>
