<!-- Latest compiled and minified CSS Bootstrap -->
<script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">

  <h2>Entity: Competition</h2>

  <table class="table table-responsive table-striped">
    <tr>
      <th>Actions</th>
      <td>
        <span><%= link_to 'Show Matches', '#' %></span>
        <span><%= link_to 'Show Squads', '#' %></span>
      </td>
    </tr>
    <% @competition.attributes.each do |competition_detail_key, competition_detail_value| %>
      <tr>
        <th><%= competition_detail_key %></th>
        <td><%= competition_detail_value %></td>
      </tr>
    <% end %>
  </table>

</div>
