<head>
   <!-- Latest compiled and minified CSS Bootstrap -->
  <script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>

<div style="text-align: center; padding: 1em;">
  <% User::AFFILIATE_CODE_STRINGS.keys.each do |affiliate| %>
    <%= link_to "#{ affiliate } users", "#{ affiliate }_users?year=#{ params[:year] }", class: "btn btn-#{ params['action'] == "#{ affiliate }_users" ? 'warning active' : 'danger' }" %>

    <%= params['method'] %>
  <% end %>
</div>

<% affiliate = "#{ @affiliate }_users" %>
<div class = "container">
  <div id="year-form-div" class="panel panel-primary">
    <div class="panel-heading">
      <strong>Selection Panel</strong>
    </div>
    <div class="panel-body">
      <form id="year-form" class="form-horizontal">
        <div class="row">
          <div class="col-sm-5">
            <div class="row">
              <div class="col-sm-3"><label for="year-select-box" class="control-label">Select Year</label></div>
              <div class="col-sm-9">
                <select id="year-select-box" class="form-control">
                  <% (2016..Time.current.year).each do |year| %>
                    <option <%= 'selected="true"' if params[:year] == year.to_s %> ><%= year %></option>
                  <% end %>
                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <h4>Current Selection</h4>

                <table class="table table-striped">
                  <tr>
                    <th>Month</th>
                    <td><%= Date::MONTHNAMES[params['month'].to_i] || 'NA' %></td>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <td><%= params['year'] %></td>
                  </tr>
                  <tr>
                    <th>Affiliate</th>
                    <td><%= @affiliate %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-sm-7">
            <div id="month-links-div">
              <div class="row">
                <div class="col-sm-12">
                  <div style="text-align: center;">
                    <%= link_to 'Total', "/dashboard/#{ affiliate }?val=total&year=#{ params[:year] }", class: "btn btn-#{ @val=='total' ? 'warning active' : 'danger' }", id: 'total', style: 'width: 90%;' %>
                  </div>
                </div>
                <% (1..12).each do |month| %>
                  <div class="col-sm-4">
                    <%= link_to "#{ Date::MONTHNAMES[month] } ", "/dashboard/#{ affiliate }?month=#{ month }&year=#{ params[:year] }", class: "btn btn-#{ params['month'] == month.to_s ? 'warning active' : 'primary' } month-link", id: month, style: 'margin: 5px; width: 100%;' %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


  </div>
</div>

<table id="dashboard_table" class="table table-striped" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th rowspan="2">Month</th>
          <th rowspan="2">SIGNUP</th>
          <th colspan="9" class="text-center">TRANSACTION AMOUNT(₹)<b> <%= @affiliate %> </b></th>
          <th rowspan="2" >TOTAL(₹)</th>
      </tr>
      <tr>
        <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
          <th> <%= entry_fee %> </td>
        <%end%>
      </tr>
  </thead>
  <% if @val == 'total' %>
    <% @all_months.each do |date| %>
        <tbody>
          <td> <%= "#{ Date::MONTHNAMES[date.month] }, #{ date.year }" %> </td>
          <td> <%= @month_user_count[date] || 0 %> </td>
          <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
            <td><%= @month_price_count[[ Date.new(date.year, date.month, date.day), entry_fee.to_i]] || 0 %> </td>
          <% end %>
          <td><%= @month_price_count_total[Date.new(date.year, date.month, date.day)] || 0 %></td>
          </tr>
        </tbody>
    <% end %>
  <% else %>
    <% @days_from_selected_month.each do |date| %>
      <tbody>
        <td> <%= date %> </td>
        <td> <%= @user_count[date] || 0 %> </td>
        <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
          <td> <%= @price_count[[ Date.new(date.year, date.month, date.day), entry_fee.to_i ]] || 0 %> </td>
        <% end %>
        <td> <%= @month_price_count_total[Date.new(date.year, date.month, date.day)] || 0 %> </td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>


<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#dashboard_table').DataTable({
      responsive: true,
      paging: false,
      // scrollY: '60vh',
      bFilter: false,
      ordering: false
    });
  });

  $('#year-select-box').on('change', function() {
    var year = $(this).val();
    var splited_uri = location.href.split('year=');
    var base_uri = splited_uri[0];
    var final_url = base_uri + 'year=' + year;
    location.href = final_url;
  });
</script>

