/ Render questions based on input_size and ans_type
/ store_accessor :questions_hash, :question_text, :question_order, :question_input_size
/ for batsman or bowler leagues

- input_size  = q[:question_input_size]
- q_id    = q[:question_order]
- ques_text   = q[:question_text]

.question_block.card{ data: { q_input_size: "#{input_size}" , q_id: "#{q_id}" }  }
  = render 'layouts/sub_header' , msg: "Q. #{ques_text}"
  - if ans_type!='over'
    - if input_size.present? && input_size.to_i>1
      .row
        - @players.each do |player|
          .col-md-2.col-xs-6
            = render 'layouts/player_box' , player: player
    - if input_size.present? && input_size.to_i==1
      .row
        .col-md-2.col-xs-6
          = render 'layouts/player_box' , player: @player1
  / - if ans_type=='over'
  /   - if input_size.present? && input_size.to_i>1

%br/