<style type="text/css">
  .container {
    width: 100%;
  }
  .row {
    width: 100%;
  }
  .col-sm-6 {
    width: 40%;
    display: inline-block;
  }
  .league-category-box {
    padding: 20px;
    margin: 2.5%;
    text-align: center;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  .join-button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    margin: 10px;
    display: block;
  }
  .join-button:hover {
    color: white;
  }
</style>

<div class="container">
  <% League::EVEN_LEAGUE_SIZE.each do |league_size| %>
    <div class="row">
      <% League::PRIZE_MONEY_HASH.each do |entry, prize| %>
        <div class="col-sm-6 league-category-box">
          <div><strong>Entry:</strong> Rs <%= entry %></div>
          <div><strong>Prize:</strong> Rs <%= prize %></div>
          <div><strong>Members:</strong> <%= league_size %></div>
          <div class="">
            <%= link_to 'Join', join_match_contest_user_team_league_index_path(contest_id: params[:contest_id], user_team_id: ut, member: league_size, entry: entry, prize: prize), class: 'join-button' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% League::ODD_LEAGUE_SIZE.each do |league_size| %>
    <div class="row">
      <% League::ODD_PRIZE_MONEY_HASH.each do |entry, prize| %>
        <div class="col-sm-6 league-category-box">
          <div><strong>Entry:</strong> Rs <%= entry %></div>
          <div><strong>Prize:</strong> Rs <%= prize %></div>
          <div><strong>Members:</strong> <%= league_size %></div>
          <div class="">
            <%= link_to 'Join', join_match_contest_user_team_league_index_path(contest_id: params[:contest_id], user_team_id: ut, member: league_size, entry: entry, prize: prize), class: 'join-button' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
