/ Render questions based on input_size and ans_type
/ store_accessor :questions_hash, :question_text, :question_order, :question_input_size
/ for batsman or bowler leagues

- input_size  = q[:question_input_size]
- q_id    = q[:question_order]
- ques_text   = q[:question_text]

.question_block.card{ data: { q_size: "#{input_size}" , q_id: "#{q_id}" }  }
  = render 'layouts/sub_header' , msg: "Q. #{ques_text}"
  - if ans_type!='over'
    - if input_size.present? && input_size.to_i>1
      %br/
      %p.small_content= "Note: You can select only #{input_size} players at a time. To change player(s) uncheck existing players checkbox."
      %br/
      - @players.group_by(&:participant_team).each do |team,players|
        %br/
        %p.sub_content.uppercase= "Team #{team.name}"
        %br/
        .row
          - players.each do |player|
            = render 'layouts/player_checkbox' , player: player, f: f
    - if input_size.present? && input_size.to_i==1
      %br/
      %p.small_content= "Note: Select required no. of players above and a dropdown list will appear here."
      %br/
      %div{id: 'select_one'}
      = f.input :answer2,  :as => :hidden, :input_html => { id: 'answer2_select', :multiple => true }

%br/
