.fantoss-body-content.has-white-bg
  %aside.top-page-heading
    = @match.team_names
    %br
  .text-center.data-countdown{"data-countdown" => "#{@match.match_start_time}", style: 'background:#f8f8f8;padding:1em;'}
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
    #select-step-3.mdl-card.mdl-cell.mdl-cell--12-col.step-section
      .team-title-text
        = "3. JOIN #{params[:entry]}/#{params[:prize]} LEAGUE"
        %button.toggle-button.mdl-button.mdl-js-button.mdl-button--fab{"data-upgraded" => ",MaterialButton"}
          %i.material-icons.close-icon payment

  %h5.text-center
    SUMMARY

  .mdl-grid
    %table.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      %thead
        %tr
          %th.mdl-data-table__cell--non-numeric League item
          %th Value
      %tbody
        %tr
          %td.mdl-data-table__cell--non-numeric Entry fees
          %td= "₹ #{params[:entry]}"
        %tr
          %td.mdl-data-table__cell--non-numeric Prize Money
          %td= "₹ #{params[:prize]}"
        %tr
          %td.mdl-data-table__cell--non-numeric Winners / Members
          %td= "#{params[:member].to_i/2} winners out of #{params[:member]} members"
        - if @user_transaction.params['has_sufficient_balance']
          %tr
            %td.mdl-data-table__cell--non-numeric
              %strong Wallet Balance
            %td
              %strong= "₹ #{@user_transaction.params['wallet_balance']}"
          %tr
            %td.mdl-data-table__cell--non-numeric TO PAY FROM WALLET
            %td= "- ₹ #{params[:entry]}"

        - else
          %tr
            %td.mdl-data-table__cell--non-numeric
              %strong Wallet Balance used
            %td
              %strong= "- ₹ #{@user_transaction.params['wallet_balance']}"
          %tr
            %td.mdl-data-table__cell--non-numeric TOTAL
            %td= "₹ #{@user_transaction.params['txn_amount']}"


  %article.text-center.md-row.mdl-grid
    .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.congo-palying-card
      - if @user_transaction.params['has_sufficient_balance']
        = link_to "PAY ₹ #{params[:entry]} from wallet and JOIN", wallet_payment_index_path(transaction_id: @user_transaction.token), class: 'mdl-button mdl-button--colored cmn-2x-card text-center pwf'
      - else
        = link_to 'Add to Wallet and JOIN', "#{account_path}#add-to-wallet", class: 'mdl-button mdl-button--colored cmn-2x-card text-center pwf'

    - if current_user && current_user.is_admin
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp.congo-palying-card
        = link_to "MOCKPAY ₹ #{@user_transaction.params['txn_amount']}", new_payment_path(transaction_id: @user_transaction.token, gateway: UserTransaction::PAYMENT_GATEWAYS[:paytm], mode: 'test'), class: 'mdl-button black'

  %article.md-row.mdl-grid
    %ul
      %caption NOTE:
      %li Prize money will be added to your fantoss wallet.
      %li You can withdraw it to your Paytm mobile number account.
      %li= "Referral credits can only be used in leagues of Rs #{League::MIN_ENTRY_FEE_FOR_REFERRAL_CREDIT} and above"

