.container
  .student_bx
    = render 'layouts/question_header', m: @match , l: @league
    - if @league.is_fake
      .textcenter{:style => "margin-top:2px;margin-bottom:4px;"}
        %a.small_content{ href: match_path(@match) , :style => "color:#0cada8;" , data: { transition: "slide-out"} }
          = "Back to #{@match.display_name}"
    - else  
      / = render 'league/rules'
  %br/