<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(page.resource.errors.count, "error") %>
        prohibited this <%= page.resource_name %> from being saved:
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes.each do |attribute| -%>
    <!-- <div class="field-unit field-unit--<%= attribute.html_class %>">
      <% # render_field attribute, f: f %>
    </div> -->
  <% end -%>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :participant_team %>
    </div>
    <div class="field-unit__field">
      <%= f.select :participant_team, options_for_select(ParticipantTeam.pluck(:name, :id), f.object.participant_team_id), {}, class: 'form-control', disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--number">
    <div class="field-unit__label">
      <%= f.label :name %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :name, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :player_category %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :player_category, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :price %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :price, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :player_xp %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :player_xp, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :photo_url %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :photo_url, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :api_player_id %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :api_player_id, disabled: true %>
    </div>
  </div>

  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label :image %>
    </div>
    <div class="field-unit__field">
      <div class="row">
        <div class="col-sm-8">
          <p>
          <%= f.file_field :image, class: 'form-control' %>
          <%= f.hidden_field :image_cache %>
          </p>
          <p>
            <label>
              <%= f.check_box :remove_image %>
              Remove image
            </label>
          </p>
        </div>
        <div class="col-sm-4">
          <%= image_tag(f.object.image_url) %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
