<h2>Hello #{ @user.display_name }!</h2>

<p><%= @intro_text.try :html_safe %></p>

<p><%= @more_details.try :html_safe %></p>

<p style="text-align: center;"><%= link_to 'Take me there', root_url, style: 'background-color: #d5a300; color: black; padding: 5px; text-decoration: none; border-radius: 5px;' %></p>

