- resource.email = params[:email] unless resource.email.present?

- signup_link = link_to I18n.t('auth.signup.link'), new_user_registration_path
%br/
%br/
.container
  .student_bx.text-center
    %h5.title_4= I18n.t('auth.login.title', signup_link: signup_link).html_safe
    .col-xs-12.col-md-6.col-md-offset-3
      %br/
      = render 'authentications/providers', flow: 'login', icons: true, color: true
      %br/
      %p.sub_content.text-center OR
      %br/
      = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'text-left' } do |f|
        = f.input :email, autofocus: true, required: true
        %br/
        = f.input :password, required: true, autocomplete: 'off'
        %br/
        = f.button :submit, 'Login', class: 'btn btn-primary btn-block'
        / = link_to 'Login', '#submit', onclick: "$(this).parent().submit();" , class: 'btn btn-primary btn-block'

        = render 'users/shared/links', disable_signup: true
        %br/

      / - content_for :on_ready do
      /   $('input[name="user[email]"]').on('click keydown', function(){$(this).closest('form').find('.collapse').addClass('in')});
%br/
%br/
%br/
%br/
