<%= javascript_include_tag 'user/user_team_form' %>

<style type="text/css">
  .d-none {
    display: none;
  }

  .alert-danger {
    background: #F44336;
    padding: 5px;
    color: white;
    margin-bottom: 1px;
  }

  .captain {
    background-color: red;
  }

  .vice-captain {
    background-color: orange;
  }

  .badge {
    display: inline-block;
  }

  ul.list-group {
    margin: 0;
    padding: 0;
  }

  ul.list-group li.list-group-item {
    width: 100%;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #c3c3c3;
  }

  ul.list-group li.list-group-item:hover {
    background-color: #e8e8e8;
  }

  ul.list-group li.list-group-item.captain:hover {
    background-color: red;
  }

  ul.list-group li.list-group-item.vice-captain:hover {
    background-color: orange;
  }

  ul.list-group li.list-group-item label {
    width: 100%;
    padding: 20px;
    line-height: 20px;
    display: inline-block;
  }

  ul.list-group li.list-group-item input.player-checkbox {
    margin: 0 20px;
    /*width: 15px;*/
    /*height: 15px;*/
  }

  .submit-button {
    /*padding: 20px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    border-radius: 10px;*/
    margin: 20px 0;
    width: 80%;
  }

  .list-as-heading {
    /*margin: 0 20px;*/
    text-align: center;
  }

  .badge-dark {
    background-color: grey;
    color: white;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 11px;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }
</style>

  <div class="article team-select-container mdl-grid mdl-grid--no-spacing">
    <div id="select-step-1" class="mdl-card mdl-cell mdl-cell--12-col step-section">
      <div class="section mdl-tabs mdl-js-tabs mdl-js-ripple-effect cmn-step-block">

        <%= form_for([@match, @contest, @user_team], method: (@user_team.id ? :patch : :post), html: { id: 'user-team-form', class: 'form-horizontal' }) do |f| %>
          <%= f.hidden_field :match_id, value: @match.id %>

          <div id="error-container" class="text-center alert alert-danger <%= @user_team.errors.full_messages.present? ? '' : 'd-none' %>" role="alert">
            <%= @user_team.errors.full_messages.to_sentence %>
          </div>

          <div class="mdl-tabs__tab-bar justify-tabs">
            <a id="batsmen-tab" href="#batsmen-panel" class="tab-pills mdl-tabs__tab is-active">
              <span class="fantoss-icon bastman-icon"></span>
              <span><span>BT</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="batsmen-selection-counter">0</span>
                  /
                  <span>4</span><span>)</span>
                </span>
              </span>
            </a>
            <a id="bowlers-tab" href="#bowlers-panel" class="tab-pills mdl-tabs__tab">
              <span class="fantoss-icon bowler-icon"></span>
              <span><span>BW</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="bowlers-selection-counter">0</span>
                  /
                  <span>4</span><span>)</span>
                </span>
              </span>
            </a>
            <a id="allrounders-tab" href="#allrounders-panel" class="tab-pills mdl-tabs__tab">
              <span class="fantoss-icon bastman-icon"></span>
              <span><span>AR</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="allrounders-selection-counter">0</span>
                  /
                  <span>2</span><span>)</span>
                </span>
              </span>
            </a>
            <a id="wicketkeepers-tab" href="#wicketkeepers-panel" class="tab-pills mdl-tabs__tab">
              <span class="fantoss-icon bastman-icon"></span>
              <span><span>WK</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="wicketkeepers-selection-counter">0</span>
                  /
                  <span>1</span><span>)</span>
                </span>
              </span>
            </a>
            <a id="captain-tab" href="#batsmen-next-panel" class="tab-pills mdl-tabs__tab">
              <span class="fantoss-icon bastman-icon"></span>
              <span><span>Cap</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="captain-selection-counter">0</span>
                  /
                  <span>1</span><span>)</span>
                </span>
              </span>
            </a>
            <a id="vice-captain-tab" href="#batsmen-next-panel" class="tab-pills mdl-tabs__tab">
              <span class="fantoss-icon bastman-icon"></span>
              <span><span>VC</span>
                <span class="badge badge-light"><span>(</span>
                  <span id="vice-captain-selection-counter">0</span>
                  /
                  <span>1</span><span>)</span>
                </span>
              </span>
            </a>
          </div>

          <div class="card text-white bg-dark">

            <div class="card-body">
              <div class="tab-content">

                <div class="tab-pane" id="batsmen" role="tabpanel" aria-labelledby="batsmen-tab">
                  <ul class="list-group">

                    <% @match.all_players.batsman.each do |player| %>
                      <li class="list-group-item text-secondary">
                        <label>
                          <%= f.check_box :batsman_ids, { checked: @user_team.batsman_ids.include?(player.id.to_s), multiple: true, class: 'player-checkbox vertical-align-middle', 'data-player-id': player.id, 'data-player-type': 'batsmen', 'data-player-name': player.name, 'data-player-list-container': 'player' }, player.id, nil %>
                          <span class="vertical-align-middle"><%= player.name %></span>
                          <span class="badge badge-dark vertical-align-middle">
                            <% if @match.home_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.home_team.name %>
                            <% elsif @match.away_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.away_team.name %>
                            <% end %>
                          </span>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div class="tab-pane" style="display: none;" id="bowlers" role="tabpanel" aria-labelledby="bowlers-tab">
                  <ul class="list-group">

                    <% @match.all_players.bowler.each do |player| %>
                      <li class="list-group-item text-secondary">
                        <label>
                          <%= f.check_box :bowler_ids, { checked: @user_team.bowler_ids.include?(player.id.to_s), multiple: true, class: 'player-checkbox vertical-align-middle', 'data-player-id': player.id, 'data-player-type': 'bowlers', 'data-player-name': player.name, 'data-player-list-container': 'player' }, player.id, nil %>
                          <span class="vertical-align-middle"><%= player.name %></span>
                          <span class="badge badge-dark vertical-align-middle">
                            <% if @match.home_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.home_team.name %>
                            <% elsif @match.away_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.away_team.name %>
                            <% end %>
                          </span>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div class="tab-pane" style="display: none;" id="allrounders" role="tabpanel" aria-labelledby="allrounders-tab">
                  <ul class="list-group">

                    <% @match.all_players.allrounder.each do |player| %>
                      <li class="list-group-item text-secondary">
                        <label>
                          <%= f.check_box :allrounder_ids, { checked: @user_team.allrounder_ids.include?(player.id.to_s), multiple: true, class: 'player-checkbox vertical-align-middle', 'data-player-id': player.id, 'data-player-type': 'allrounders', 'data-player-name': player.name, 'data-player-list-container': 'player' }, player.id, nil %>
                          <span class="vertical-align-middle"><%= player.name %></span>
                          <span class="badge badge-dark vertical-align-middle">
                            <% if @match.home_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.home_team.name %>
                            <% elsif @match.away_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.away_team.name %>
                            <% end %>
                          </span>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div class="tab-pane" style="display: none;" id="wicketkeepers" role="tabpanel" aria-labelledby="wicketkeepers-tab">
                  <ul class="list-group">

                    <% @match.all_players.wicketkeeper.each do |player| %>
                      <li class="list-group-item text-secondary">
                        <label>
                          <%= f.check_box :wicketkeeper_ids, { checked: @user_team.wicketkeeper_ids.include?(player.id.to_s), multiple: true, class: 'player-checkbox vertical-align-middle', 'data-player-id': player.id, 'data-player-type': 'wicketkeepers', 'data-player-name': player.name, 'data-player-list-container': 'player' }, player.id, nil %>
                          <span class="vertical-align-middle"><%= player.name %></span>
                          <span class="badge badge-dark vertical-align-middle">
                            <% if @match.home_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.home_team.name %>
                            <% elsif @match.away_team.current_squad.include?(player.id.to_s) %>
                              <%= @match.away_team.name %>
                            <% end %>
                          </span>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>

                <div class="tab-pane" style="display: none;" id="captain" role="tabpanel" aria-labelledby="captain-tab">
                  <div class="row">
                    <div class="col-sm-3">
                      <ul id="captain-batsmen" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Batsmen</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="captain-bowlers" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Bowlers</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="captain-allrounders" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Allrounders</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="captain-wicketkeepers" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Wicketkeepers</strong></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" style="display: none;" id="vice-captain" role="tabpanel" aria-labelledby="vice-captain-tab">
                  <div class="row">
                    <div class="col-sm-3">
                      <ul id="vice-captain-batsmen" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Batsmen</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="vice-captain-bowlers" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Bowlers</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="vice-captain-allrounders" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Allrounders</strong></div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-sm-3">
                      <ul id="vice-captain-wicketkeepers" class="list-group">
                        <li class="list-group-item list-group-item-dark">
                          <div class="list-as-heading"><strong>Wicketkeepers</strong></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="card-footer text-center">
              <%= f.submit 'CREATE USER TEAM', class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-shadow--3dp uppercase-none submit-button' %>
            </div>
          </div>

        <% end %>


      </div>
    </div>
  </div>

</div>
