- if ut.present?
  .top-page-heading.mdl-cell.mdl-cell--12-col
    Check your teams
    - if !(m.ongoing? || m.completed? || m.starting?)
      = link_to "Add Team", new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored', id: "add_team1", data: { no_turbolink: true }
      .mdl-tooltip{:for => "add_team1"} Add team to play
  %section.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect.cmn-step-block
    .mdl-tabs__tab-bar.justify-tabs.league-tabs{style: 'background:#feffff'}
      .mdl-cell.mdl-cell--12-col
        - tab_width = ut.size
        - ut.each_with_index do |user_team,index|
          - cc = (index==0 ? 'is-active' : '' )
          %a.mdl-tabs__tab{:href => "#team_#{index+1}", :class => "#{cc}", style: "width:#{tab_width}%"}
            / = "Team #{index+1}"
            = "Team #{index+1} (#{user_team.totalscore})"

    - ut.each_with_index do |user_team,index|
      - cc = (index==0 ? 'is-active' : '' )
      - league = user_team.league
      .mdl-tabs__panel{ :id => "team_#{index+1}" , :class => "#{cc}" }
        - if league.present?
          .top-page-heading.mdl-cell.mdl-cell--12-col
            .mdl-card__actions
              %span.uppercase
                = "#{user_team.totalscore} points | #{league.name} | #{league.joined}/#{league.limit}"
            = link_to "Edit Team", edit_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id, id: user_team), class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored', id: "edit_link_#{index}", data: { no_turbolink: true } if user_team.allow_edit?
            - if m.ongoing?
              %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{href: match_url(m), id: "refresh_score_#{index}" }
                %i.material-icons autorenew

        - else
          .top-page-heading.mdl-cell.mdl-cell--12-col
            .mdl-card__actions
              %span.uppercase No contest joined yet!
            = link_to 'Join', match_contest_user_team_league_index_path(match_id: m, contest_id: @top_5_contest, user_team_id: user_team), class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored', id: "join_contest_#{index}" if user_team.can_join_league?
          .top-page-heading.mdl-cell.mdl-cell--12-col
            .mdl-card__actions
              %span.uppercase= "#{user_team.totalscore} points"
            = link_to "Edit Team", edit_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id, id: user_team), class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored', id: 'edit_link', data: { no_turbolink: true } if user_team.allow_edit?

        .mdl-tooltip{:for => "edit_link_#{index}"} Edit your team lineup
        .mdl-tooltip{:for => "refresh_score_#{index}"} Refresh current score
        .mdl-tooltip{:for => "join_contest_#{index}"} Join free or paid contest & win cash prizes.

        - if league.present?
          %article.slider-row
            %ul.fantoss-slider.bxslider.mdl-grid.mdl-grid--no-spacing
              - league.user_teams.order("totalscore DESC").each_with_index do |ut, i|
                %li.mdl-card
                  .relative.user-block.text-center
                    %span.player-circle
                      = image_tag(ut.user.avatar_image)
                    .player-name= ut.user.try(:display_name)
                    - if m.completed?
                      = "Rank #{ut.rank}"
                    - else
                      = "Rank #{i+1}"
                    .play-dteail= "#{ut.totalscore} points"
                  .mdl-card__actions.mdl-card--border.text-center
                    / - if m.ongoing? || m.completed? || m.starting?
                    = link_to "View", load_player_card_match_path(match_id: m, user_team_id: ut.id, index: index), class: 'mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect', remote: true
                    / - else
                    /   %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{href: '#'} View


        %article.live-match-table.mdl-grid.mdl-grid--no-spacing{:id => "player_card_#{index}"}
          = render 'layouts/players_card', players: user_team.players.includes(:player_scores, :participant_team), match: m, user_team: user_team
        %p
          %small{style: 'color: #F44336;font-size: 1.5em;'} **
          represents your captain
          |
          %small{style: 'color: #F44336;font-size: 1.5em;'} *
          represents your vice-captain

- else
  - if m.ongoing? || m.completed?
    %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
      .mdl-card__actions
        %span.uppercase
          Live Player status
          &nbsp;&nbsp;|&nbsp;&nbsp;
          No team(s) added
    %article.live-match-table.mdl-grid.mdl-grid--no-spacing
      = render 'layouts/players_card', players: m.players.includes(:player_scores, :participant_team).uniq, match: m, user_team: nil
  - else
    %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
      .mdl-card__actions
        %span.uppercase No team added yet
        %a#add_team.pull-right.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect{ href: new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), "data-no-turbolink" => true } ADD TEAM
        .mdl-tooltip{:for => "add_team"} Add team to play




