.container
  .student_bx
    = render 'layouts/question_header', m: @match , l: @league
    = render 'layouts/sub_header' , msg: @ut.transaction_status

    /   %a.bar.bar-standard.bar-footer{ href: @ut.payment_url, data: { ignore: 'push'} }
    /     CONTINUE TO PAY
    /   = render 'layouts/sub_header' , msg: "Awesome! Your answers are saved now. Kindly Proceed to Pay and join the league. Your Payment Status is PENDING"

    / - @league.contest.questions_hash.present? && @league.contest.questions_hash.each do |question|
    /   - question = question.symbolize_keys
    /   = render 'league/answer_type' , q: question, ans_type: @league.contest.answer_type, ut: @ut

    %br/

    .carded
      .col-xs-12.col-md-4.col-md-offset-4.bdr_lt
        - if @ut.transaction_status=='PENDING'
          %h5
            = link_to @ut.payment_url, class: 'btn btn-danger btn-lg btn-block', :"data-no-turbolink" => true do
              PAY
              Rs.
              = @league.entry_fee
              %i.ion-arrow-right-c
        - if @ut.transaction_status=='SUCCESS'
          %h5.text-center
            PAID
            %div.rupee_img
            = @league.entry_fee
            %br/
            %small Contest Joined
      .col-xs-12.col-md-4.text-center.bdr_lt
        - if @ut.allow_edit
          %h5
            = link_to "EDIT PLAYERS",  edit_match_league_user_team_path(@match, @league, @ut), class: 'btn btn-info btn-block', :"data-no-turbolink" => true
        - else
          = render 'layouts/small_header' , msg:  "You cannot edit your answers now as Match is starting in less than 1 hour."
      
  %br/
  %br/