<header class="header">
  <h1 class="header-heading"># <%= @match.try(:id)%> <%= @match.team_names %> Winners</h1>
  <div class="header-actions">
    <%= link_to(
      "Export to CSV",
      winners_admin_match_path(@match, format: :csv),
      class: "button",
    ) %>
  </div>
</header>


<div style='padding:10px'>
  <p>MATCH STATS</p>
  <h6> Even Leagues</h6>
  <hr></hr>
  <table>

  </table>

  <table class="table">
    <tr>
      <td>Leagues Type</td>
      <td>Leagues count</td>
      <td>User teams count</td>
      <td>Winners count</td>
      <td>Tied Users count</td>
      <td>Coupon Money used</td>
      <td>Total amount</td>
    </tr>
    <% @stats_even.each do |lstat| %>
      <tr>
        <td><strong> ₹ <%= lstat[0] %></strong></td>
        <td><%= lstat[1][:leagues_count] %></td>
        <td><%= lstat[1][:ut_count] %></td>
        <td><%= lstat[1][:winners_count] %></td>
        <td><%= lstat[1][:tied_count] %></td>
        <td><%= lstat[1][:coupon_money_used] %></td>
        <td>₹ <%= lstat[1][:amount_paid] %></td>
      </tr>
    <% end %>
    <tr style='font-weight:600'>
      <td>Total</td>
      <td><%= @match.leagues.even.paid.count %></td>
      <td><%= @user_teams.joins(:league).where(leagues: { league_type: ['even', nil] }).count %></td>
      <td><%= @user_teams.joins(:league).where(leagues: { league_type: ['even', nil] }).where(has_won: true).count %></td>
      <td><%= @user_teams.joins(:league).where(leagues: { league_type: ['even', nil] }).where(has_tied: true).count %></td>
      <td><%= @total_coupon_money_used %></td>
      <td>₹ <%= @match.leagues.even.paid.sum('entry_fee * user_teams_count') %> ( paytm: ₹ <%= @total_transactions_even.sum("(payment_gateway_response -> 'TXNAMOUNT')::float") %>  )</td>
    </tr>
  </table>

</div>

<div style='padding:10px'>
  <p>MATCH STATS</p>
  <h6> Odd Leagues</h6>
  <hr></hr>
  <table>

  </table>

  <table class="table">
    <tr>
      <td>Leagues Type</td>
      <td>Leagues count</td>
      <td>User teams count</td>
      <td>Winners count</td>
      <td>Tied Users count</td>
      <td>Coupon Money used</td>
      <td>Total amount</td>
    </tr>
    <% @stats_odd.each do |lstat| %>
      <tr>
        <td><strong> ₹ <%= lstat[0] %></strong></td>
        <td><%= lstat[1][:leagues_count] %></td>
        <td><%= lstat[1][:ut_count] %></td>
        <td><%= lstat[1][:winners_count] %></td>
        <td><%= lstat[1][:tied_count] %></td>
        <td><%= lstat[1][:coupon_money_used] %></td>
        <td>₹ <%= lstat[1][:amount_paid] %></td>
      </tr>
    <% end %>
    <tr style='font-weight:600'>
      <td>Total</td>
      <td><%= @match.leagues.odd.paid.count %></td>
      <td><%= @user_teams.joins(:league).where('leagues.league_type=?', 'odd').count %></td>
      <td><%= @user_teams.joins(:league).where('leagues.league_type=?', 'odd').where(has_won: true).count %></td>
      <td><%= @user_teams.joins(:league).where('leagues.league_type=?', 'odd').where(has_tied: true).count %></td>
      <td><%= @total_odd_coupon_money_used %></td>
      <td>₹ <%= @match.leagues.odd.paid.sum('entry_fee * user_teams_count') %> ( paytm: ₹ <%= @total_transactions_odd.sum("(payment_gateway_response -> 'TXNAMOUNT')::float") %>  )</td>
    </tr>
  </table>

</div>
<br/>
<br/>
<div style='padding:10px'>
  <p>ALL LEAGUES</p>

  <div class="text-center well well-sm">
    <%= paginate @leagues %>
  </div>

  <hr></hr>
  <% @leagues.each do |league| %>
    <strong><%= "#{league.name}/#{league.limit}" %></strong>
    <div class="league-winner-details">
      <table class="table">
        <tr>
          <td>UT id</td>
          <td>UT token</td>
          <td>User name</td>
          <td>User phone</td>
          <td>Rank</td>
          <td>Result</td>
          <td>Prize/Refund Money</td>
          <td>TotalScore</td>
        </tr>
        <% league.winners.each do |user_team| %>
          <tr>
            <td><%= user_team.try(:user_transactions).try(:first).try(:id) %></td>
            <td><%= user_team.try(:user_transactions).try(:first).try(:token) %></td>
            <td><%= link_to user_team.try(:user).try(:display_name), "/admin/users/#{user_team.try(:user).try(:id)}", target: '_blank' %></td>
            <td><%= link_to user_team.try(:user).try(:phone), "/admin/users?search=#{user_team.try(:user).try(:last_sign_in_ip)}", target: '_blank' %></td>
            <td><%= link_to user_team.rank, "/admin/leagues/#{user_team.league.try(:id)}", target: '_blank' %></td>
            <td>Win</td>
            <td><%= league.prize_money %></td>
            <td><%= user_team.totalscore %></td>
          </tr>
        <% end %>

        <% league.tied_user_teams.each do |user_team| %>
          <tr>
            <td><%= user_team.try(:user_transactions).try(:first).try(:id) %></td>
            <td><%= user_team.try(:user_transactions).try(:first).try(:token) %></td>
            <td><%= link_to user_team.try(:user).try(:display_name), "/admin/users/#{user_team.try(:user).try(:id)}", target: '_blank' %></td>
            <td><%= link_to user_team.try(:user).try(:phone), "/admin/users?search=#{user_team.try(:user).try(:last_sign_in_ip)}", target: '_blank' %></td>
            <td><%= link_to user_team.try(:rank), "/admin/leagues/#{user_team.league.try(:id)}", target: '_blank' %></td>
            <td>Tie</td>
            <td><%= league.entry_fee %></td>
            <td><%= user_team.totalscore %></td>
          </tr>
        <% end %>

        <% league.losers.each do |user_team| %>
          <tr>
            <td><%= user_team.try(:user_transactions).try(:first).try(:id) %></td>
            <td><%= user_team.try(:user_transactions).try(:first).try(:token) %></td>
            <td><%= link_to user_team.try(:user).try(:display_name), "/admin/users/#{user_team.try(:user).try(:id)}", target: '_blank' %></td>
            <td><%= link_to user_team.try(:user).try(:phone), "/admin/users?search=#{user_team.try(:user).try(:last_sign_in_ip)}", target: '_blank' %></td>
            <td><%= link_to user_team.try(:rank), "/admin/leagues/#{user_team.league.try(:id)}", target: '_blank' %></td>
            <td>Loss</td>
            <td>0</td>
            <td><%= user_team.totalscore %></td>
          </tr>
        <% end %>
      </table>
    </div>
    </br>
  <% end %>

  <div class="text-center well well-sm">
    <%= paginate @leagues %>
  </div>

</div>
