<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= content_for(:title) %> | <%= Rails.application.class.parent_name.titlecase %></title>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified JavaScript Jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style type="text/css">
    .cell-data--number, .cell-label--number { text-align: left; }
    .field-unit__label { width: 25%; }
    .field-unit__field { width: 50%; }
    #error_explanation { padding: 0 10%; margin-bottom: 25px; border-bottom: 1px solid red; border-top: 1px solid red; }
    #error_explanation li { color: red; }
  </style>
</head>

<body>
  <div class="app-container" style="max-width: inherit !important;">

    <div class="sidebar">
      <%= render "sidebar" %>
    </div>

    <main class="main-content" role="main" style="height: inherit;">
      <%= content_for(:search) %>
      <%= render "flashes" %>
      <%= yield %>
    </main>

  </div>

  <%= render "javascript" %>
</body>
</html>
