<%= form_tag(add_to_wallet_payment_index_path, method: :post) do %>
  <div class="mdl-grid">
    <div class="mdl-cell.mdl-cell--3-col">
      <div class="mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label">
        <%= text_field_tag :amount, 100, class: 'mdl-textfield__input' %>
        <label class="mdl-textfield__label">Amount</label>
      </div>
    </div>
  </div>

  <div class="mdl-cell.mdl-cell--2-col">
    <%= submit_tag 'Add To Wallet', class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--tiny' %>
  </div>
<% end %>

<br>

<%= form_tag(money_transactions_path, method: :post) do %>
  <div class="mdl-grid">
    <div class="mdl-cell.mdl-cell--3-col">
      <div class="mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label">
        <%= text_field_tag :amount, 100, class: 'mdl-textfield__input' %>
        <label class="mdl-textfield__label">Amount</label>
      </div>
    </div>
  </div>

  <div class="mdl-cell.mdl-cell--2-col">
    <%= submit_tag 'Withdraw to PayTM', class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--tiny' %>
  </div>
<% end %>
