.fantoss-body-content.has-white-bg
  .mdl-grid
    %article.mdl-cell.mdl-cell--12-col.live-match-page
      .top-page-heading.mdl-cell.mdl-cell--12-col
        Profile
      .mdl-grid
        .mdl-cell.mdl-cell--2-col
          = image_tag("#{current_user.avatar_image}", width: '80%', style: "border:1px solid #d2a007;border-radius:7px")
          / %img{:src => "#{current_user.avatar_image}", width: '80%', style: "border:1px solid #d2a007;border-radius:7px"}/
        .mdl-cell.mdl-cell--2-col
          %strong.p-name Display Name
          %h5= current_user.display_name
        .mdl-cell.mdl-cell--2-col
          %strong.p-name Phone number
          %h5= current_user.phone
        .mdl-cell.mdl-cell--2-col
          %strong.p-name Total balance
          %h5
            = "₹ #{current_user.wallet.total_balance}"
            %br/
            %small{style: 'color:#111;font-weight: 600;'}
              = "₹ #{current_user.wallet.main_balance} wallet"
              %br/
              = "+ ₹ #{current_user.wallet.referral_balance} referral"
            %br/
        .mdl-cell.mdl-cell--2-col
          %strong.p-name Referral Balance
          %h5= "₹ #{current_user.wallet.referral_balance}"
        .mdl-cell.mdl-cell--2-col
          %strong.p-name PLAYED
          %h5= "#{current_user.leagues.count} leagues"

      .top-page-heading.mdl-cell.mdl-cell--12-col
        Edit Details
      = form_for(current_user, url: user_path(current_user), method: :patch) do |f|
        .mdl-grid
          .mdl-cell.mdl-cell--3-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              = f.text_field :first_name, class: 'mdl-textfield__input'
              %label.mdl-textfield__label First name
          .mdl-cell.mdl-cell--3-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              = f.text_field :last_name, class: 'mdl-textfield__input'
              %label.mdl-textfield__label Last name
          .mdl-cell.mdl-cell--4-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              = f.text_field :username, class: 'mdl-textfield__input'
              %label.mdl-textfield__label Username
            - if current_user.errors.present?
              %span{style: 'color: red;'}
                = current_user.errors[:username].join(', ')
          .mdl-cell.mdl-cell--2-col
            = f.submit 'Save', class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--tiny'

      .top-page-heading.mdl-cell.mdl-cell--12-col
        Referral
      .mdl-grid
        .mdl-cell.mdl-cell--5-col
          %strong.p-name Your unique url
          .mdl-textfield.mdl-js-textfield
            %input.mdl-textfield__input{type: "text", value: "#{ref_url(current_user.id)}"}
            %p Just copy and share your unique url to facebook, whatsapp friends.
        .mdl-cell.mdl-cell--7-col
          %ul
            %li Refer-&-Earn: Now get flat ₹ 5 each in referral credits for both new referred user and yourself.
            %li Once the new user joins a paid league. Your account will be credited by ₹ 10 referral money
            %li You can now use your wallet credit directly to play in app
            %li You can withdraw your amount to paytm wallet directly

      .top-page-heading.mdl-cell.mdl-cell--12-col
        Add to Wallet
      = form_tag(add_to_wallet_payment_index_path, method: :post, id: 'add-to-wallet') do
        .mdl-grid
          .mdl-cell.mdl-cell--3-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              = text_field_tag :amount, 100, class: 'mdl-textfield__input'
              %label.mdl-textfield__label Amount
          .mdl-cell.mdl-cell--2-col
            = submit_tag 'Add To Wallet', class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--tiny'

      .top-page-heading.mdl-cell.mdl-cell--12-col
        Withdraw to PayTM
      = form_tag(money_transactions_path, method: :post) do
        .mdl-grid
          .mdl-cell.mdl-cell--3-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              = text_field_tag :amount, 100, class: 'mdl-textfield__input'
              %label.mdl-textfield__label Amount
          .mdl-cell.mdl-cell--2-col
            = submit_tag "Withdraw to PayTM (#{ MoneyTransferService::TXN_FEE_PRECENT }% charge)", class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--tiny'

    %table.mdl-cell.mdl-cell--12-col.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      %thead
        %tr
          %th Date
          %th Reason
          %th Value
      %tbody
        - @credits.each do |bc|
          %tr
            %td= bc.created_at.strftime('%a, %d %b')
            %td= bc.reason.humanize
            - if bc.transaction_type=='credit'
              %td{style:'color:#4CAF50'}= "+ ₹ #{bc.value}"
            - else
              %td{style:'color:#E91E63'}= "- ₹ #{bc.value}"
