html,
body {
    Margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

/* What it does: Stops email clients resizing small text. */
* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* What is does: Centers email on Android 4.4 */
div[style*="margin: 16px 0"] {
    margin:0 !important;
}

/* What it does: Stops Outlook from adding extra spacing to tables. */
table,
td {
    mso-table-lspace: 0pt !important;
    mso-table-rspace: 0pt !important;
}
        
/* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
    Margin: 0 auto !important;
}
table table table {
    table-layout: auto; 
}

/* What it does: Uses a better rendering method when resizing images in IE. */
img {
    -ms-interpolation-mode:bicubic;
}

/* What it does: Overrides styles added when Yahoo's auto-senses a link. */
.yshortcuts a {
    border-bottom: none !important;
}

/* What it does: A work-around for iOS meddling in triggered links. */
.mobile-link--footer a,
a[x-apple-data-detectors] {
    color:inherit !important;
    text-decoration: underline !important;
}
/* What it does: Hover styles for buttons */


.heading, td.text-block, td.signature-block, span.quote{
  padding: 20px; 
  padding-bottom: 0; 
  mso-height-rule: exactly;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  color: #7B7B7B;
  font-family: "Open Sans",sans-serif;
}

span.quote{
  padding:0;
  font-size: 14px;
}
td.signature-block{
  font-size: 15px;
  color:#5c5c5c;
}

.heading{
  Margin-top: 0;
  Margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: #505050;
}

td.button-td{ 

}

.half{
  padding: 20px 10px;
  width: 50%;
  font-size: 15px; 
  font-family: 'Open Sans', sans-serif;
  mso-height-rule: exactly; line-height:18px; 
  text-align: center; 
  color: #888888;

}

td.button-td a{
  border-radius: 4px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  transition: opacity 0.1s ease-in;
  color: #fff;
  background-color: #5da5e4;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 35px;
  transition: all 100ms ease-in;
}

td.button-td a:hover{
  color:#efefef !important
}
