.fantoss-body-content
  %aside.top-page-heading.uppercase
    FanTOSS Disclaimer
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
  %br
  %div
    Last updated: April 18th, 2018
  .mdl-grid
    %h5
      Disclaimer
    %p
      Fantoss is not affiliated in any way to and claims no association, in any capacity whatsoever, with the (i) Board of Control for Cricket in India ("BCCI") or any national/state/district level cricket association/federation or team, (ii) Indian Premier League ("IPL") or any domestic clubs in the India or abroad, (iii) International Cricket Council ("ICC") or (iii) any other domestic cricket tournament/league/competition, or tournament franchise/team/club (other than where specifically stated). Fantoss acknowledges that the BCCI, IPL, ICC and its franchises/teams/clubs, respective national cricket associations/federations, domestic tournament/competition organizers and franchises/teams/clubs, respectively, own all proprietary names and marks relating to the relevant tournament or competition.
    %p
      Residents of the states of Assam, Odisha and Telangana, and where otherwise prohibited by law are not eligible to enter Fantoss’s pay-to-play contests.
