.fantoss-body-content.has-white-bg
  %aside.top-page-heading.uppercase
    FAQ's
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      %h6
        %span.faq_question Q. Is this legal?
        %br/
        fantoss is a format of fantasy sports and qualifies under Game of skill as you have to use your skills to select top 5 batsman players that are going to perform best for the current match based upon multiple factors such as players current form, pitch type, weather conditions and past opposition performances etc. This definitely gives more edge to the game followers/expert players on fantoss.
        We are 100% legal as per Game of skills laws applicable for different Indian states except for Assam, Sikkim and Orrisa.
      %h6
        %span.faq_question Q. Why cant i see all players(bowlers) to select for top batsmen ?
        %br/
        We load Wicketkeeper's, all rounders and batsmen that can be selected as top batsmen. Bowlers generally don't bat much except for some times.
      %h6
        %span.faq_question Q.  What if my selected batsmen doesn’t play in that match or isnt part of playing 11 ?
        %br/
        Squad varies from match to match and it can happen that your batsman is not a part of the playing 11. In that case your batsmen will be given zero points and total score will be calculated.
      %h6
        %span.faq_question Q. Can i participate in multiple contests of different amounts ?
        %br/
        Yes, you can compete in different contests with different amounts of Rs 100, 250, 500, 1000 or free, by adding multiple teams.
      %h6
        %span.faq_question Q. How do i pay the entry fee and get my prize money ?
        %br/
        You pay your entry fee through paytm wallet and your prize money will be put into your paytm wallet within 24 hours. You can utilize the money as you want.
      %h6
        %span.faq_question Q. How do i play if i dont have a payTM wallet account?
        %br/
        PayTM payment gateway provides Debit, Credit and Bank Payments.
        You can easily create a PayTM wallet account using just your mobile number and join the contest.
      %h6
        %span.faq_question Q. Where do i check my team rank and know about the result when match is live?
        %br/
        You can checkout your teams rank & other challengers/members teams ranks on the leaderboard page once the match goes live. After the match is completed, winners are announced based on contest rankings.
      %h6
        %span.faq_question Q. How is the winner decided for a contest ?
        %br/
        Each contest winners are decided based on totalscore and rank based on how your team performs. Totalscore is calculated based on Rules & points criteria that is specified
        %a.points-link{:href => "javascript:"} here.
      %h6
        %span.faq_question Q. What happens if there is a tie i.e points are same for multiple members, then how is the winner decided?
        %br/
        We at fantoss believe in Fair judgement when it comes to tie cases.In case of multiple users having same points, and the result is ambigous/undecided then it is a tie.
        %br/
        Case 1: In case of a 4 player league for Rs 100, if the users get Rank 1, 2, 2, 2 then it is a ambigous result case and all the participant entry fees is refunded back to their paytm account.
        %br/
        Case 2: In case of a 4 player league of Rs 100, if the users get Rank 1, 2, 2, 4 then it is a ambigous result case for Users with rank 2 but user with Rank 1 and 4 are clear. In this case Rank 1 will get Prize amount of Rs 175, and Users with Rank 2 will get Rs 100 back. User with Rank 4 has lost the match and hence no money is refunded to him/her.

      %h6
        %span.faq_question Q. What happens if the match is abandoned ?
        %br/
        In case a Match is abandoned or terminates without complete play such as due to Rains or other circumstances. All the league that have undecided scores just because the match is abandoned and the player coulnd't bat and is selected by some User Teams, In such cases, All the entry fees will be refunded back.
      %h6
        %span.faq_question Q. How do i earn if i refer friends ?
        %br/
        We have a referral progam where you can bring your friends to play and earn upto 10% of Referral credits.
        %br/
        The Referral credits for each league are:
        %br/
        %ul
          %li Free : Rs10 referral credits for each new signup
          %li Rs50 league : Rs15 referral credits for each new signup
          %li Rs100 league : Rs20 referral credits for each new signup
          %li Rs250 league : Rs25 referral credits for each new signup
          %li Rs500 league : Rs50 referral credits for each new signup
        %strong HOW TO REFER
        %ol
          %li Step1: Join a paid or Free league, you will get a Unique challenge URL like fantoss.com/challenge/XYZ123?ref=YOU420
          %li Step2: Share your challenge URL online on public forums, to Facebook friends, to whatsapp contacts.
          %li Step3: When a new friend signs up, the referral will be automatically credited to your account

        %strong HOW TO REDEEM
        %br/
        The referral credits will be automatically redeemed when you join a paid league. fantoss will automatically cut off the credits from the entry fees on Join page, you will pay less amount to play a game.
      %h6
        %span.faq_question Q. How can i contact you?
        %br/
        You can anytime chat with us when we are online or drop a message on chat if we are offline. We will get back to you as soon as possible. You can also email us at play@fantoss.com. We will respond to all queries.

