
.fantoss-body-content
  .fantoss-card-container.mdl-grid
  %aside.top-page-heading
    %strong= "Hi, Please enter OTP to verify your number."
    = form_tag("/a/signup", method: "get") do
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      = text_field_tag :otp
      = submit_tag("Verify OTP")
