- if !user_signed_in?
  .header_bar
    .mdl-card__title.mdl-card__title_center
      %h4.mdl-card__title-text.text-center Fantasy cricket game to win cash daily

    .mdl-card__title.mdl-card__title_center
      %a{:href => "/a/signup", style: 'font-weight:600;background-color:#fff;padding:10px;'} Login with Mobile number.
    .mdl-card__title.mdl-card__title_center
      %a.how-to-play-link{:href => "#", style: 'font-weight:500;color:#fff;', "data-mixpanel" => "HEADERBAR howtoplay clicked"} New to fantoss? Checkout how to play & get started.
- else
  .header_bar
    .mdl-card__title.mdl-card__title_center
      %h4.mdl-card__title-text.text-center

.fantoss-body-content
  .fantoss-card-container.mdl-grid


    - if @live_now_matches.present?
      .mdl-card__title.mdl-card__title_center
        %h4.mdl-card__title-text.size-12.text-center
          LIVE
      - @live_now_matches.each do |m|
        = render 'layouts/upcoming_match', m: m

    %br/
    .mdl-card__title.mdl-card__title_center
      %h4.mdl-card__title-text.size-12.text-center
        UPCOMING MATCHES
        - if @upcoming_matches.blank?
          %span : No Upcoming Matches now. Stay Tuned!

    - @upcoming_matches.each do |m|
      = render 'layouts/upcoming_match', m: m

- content_for :on_ready do
  if(window.opener) {
  window.opener.location.reload(true);
  window.close()
  }



= headjs_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js', 'data-turbolinks-track' => true

- content_for :on_ready do
  var dialog, showDialogButton;
  dialog = document.getElementById('login-modal');
  / showDialogButton = document.getElementsByClassName('login_modal_btn');
  if (!dialog.showModal) {
  dialogPolyfill.registerDialog(dialog);
  }
  dialog.querySelector('.close').addEventListener('click', function() {
  dialog.close();
  });
  $('.login_modal_btn').on('click', function() {
  dialog.showModal();
  });

/ - content_for :on_ready do
/   var dispatcher = new WebSocketRails("#{Rails.application.config.settings.env['SOCKET_URL']}");
/   console.log(dispatcher);
/   dispatcher.on_open = function(data) {
/   console.log('Connection has been established: ', data);
/   dispatcher.trigger('hello', 'howdie');
/   }
/   dispatcher.bind('connection_closed', function(data) {
/   console.log('connection is closed');
/   });

/   channel = dispatcher.subscribe('update');
/   console.log(channel)
/   channel.bind('update', function(data) {
/   console.log('A new data arrived!');

/   var div_id_0  = data["Scorecard"]["mid"] + '_0'
/   var div_id    = data["Scorecard"]["mid"]
/   var past_ings = data["Scorecard"]["past_ings"]
/   if(past_ings.constructor === Array){
/   var team1_card =  data["Scorecard"]["past_ings"][0]["s"]["a"]
/   var team2_card =  data["Scorecard"]["past_ings"][1]["s"]["a"]
/   var inning     =  data["Scorecard"]["past_ings"][0]["s"]["dm"]
/   }
/   else{
/   var team1_card = data["Scorecard"]["past_ings"]["s"]["a"]
/   var inning =  data["Scorecard"]["past_ings"]["s"]["dm"]
/   }

/   var team1_id = "team_" + team1_card["i"]
/   var team1_runs = team1_card["r"]
/   var team1_wickets = team1_card["w"]
/   var team1_overs = team1_card["o"]
/   var home_lead_or_trail = (team1_card["tl"] == null) ? "" : team1_card["tl"]

/   console.log('team1_id : ', team1_id);
/   console.log(team1_runs);

/   var current_playing_team = document.getElementById(team1_id).getAttribute('data-team_name');
/   document.getElementById(div_id).innerHTML = current_playing_team + " - "+ team1_runs + "/" + team1_wickets + " (" + team1_overs + " ovr)" ;
/   document.getElementById(div_id_0).innerHTML = inning + " : " +  data["Scorecard"]["ms"] ;
/   if (typeof inning == 'undefined'){
/   document.getElementById(div_id_0).innerHTML = data["Scorecard"]["ms"] ;
/   }

/   // document.getElementById(team1_id).innerHTML =  team1_runs + "/" + team1_wickets + " (" + team1_overs + " ovr)"+ home_lead_or_trail;

/   if (typeof team2_card !== 'undefined'){
/   var team2_id = "team_" + team2_card["i"];
/   var away_team_score = team2_card["r"]
/   var away_team_wickets = team2_card["w"]
/   var away_team_overs = team2_card["o"]
/   var away_lead_or_trail = (team2_card["tl"] == null) ? "" : team2_card["tl"]
/   document.getElementById(team2_id).innerHTML =  away_team_score + "/" + away_team_wickets + " (" + away_team_overs + " ovr)" + away_lead_or_trail ;
/   }


/   });
