.fantoss-body-content
  %aside.top-page-heading.uppercase
    FanTOSS Privacy Policy
  %article.team-select-container.mdl-grid.mdl-grid--no-spacing
  %br
  %div
    Last updated: April 18th, 2018
  .mdl-grid
    %h5
      Fantoss
    %p
      Fantoss Technology Private Limited operates the portal in India, which offers cricket fantasy games and other online fantasy sports games through the web-portal Fantoss.com and associated application, partner website(s) and mobile application(s) (collectively referred to as the “Portal”) (Fantoss Technology Private Limited referred to herein as “Fantoss” or “we” or “us” “our”).
    %p
      Any person utilizing the Portal (“User” or “you” or “your”) or any of its features including participation in the various contests, games (including fantasy games ("Game") (“Amusement Facilities”) being conducted on the Portal) shall be bound by this Privacy Policy.
    %p
      Fantoss respects the privacy of its Users and is committed to protect it in all respects. With a view to offer an enriching and holistic internet experience to its Users, Fantoss offers a vast repository of Amusement Facilities. Kindly take time to read the 'About Us' section to know more about Fantoss. Most of the Amusement Facilities are offered for free but you may need registration to participate in Fantoss's online games. The information about the User is collected by Fantoss as (i) information supplied by Users and (ii) information automatically tracked during User's navigation on Fantoss.
    %p
      Before you submit any information to the Portal, please read this Privacy Policy for an explanation of how we will treat your personal information. By using any part of the Portal, you consent to the collection, use, disclosure and transfer of your personal information for the purposes outlined in this Privacy Policy and to the collection, processing and maintenance of this information. If you do not agree to this Privacy Policy, please do not use the Portal. Your use of any part of the Portal indicates your acceptance of this Privacy Policy and of the collection, use and disclosure of your personal information in accordance with this Privacy Policy. While you have the option not to provide us with certain information or withdraw consent to collect certain information, kindly note that in such an event you may not be able to take full advantage of the entire scope of features and services offered to you and we reserve the right not to provide you with our services.

    %h5
      Purpose and Usage:
    %p
      To avail certain Amusement Facilities on the Portal, Users would be required to provide certain information for the registration process namely: Phone number and associated one-time passwords.
    %p
      In the course of providing you with access to the Amusement Facilities, and in order to provide you access to the features and services offered through the Portal and to verify your identity, you may be required to furnish additional information, including your Permanent Account Number.
    %p
      In the course of providing the Amusement Facilities, Users may invite other existing Users or other users (“Invited Users”) to participate in any of the Amusement Facilities by providing the phone number or email address or social media username of such users. Fantoss may thereafter use this information to contact the Invited User and invite such user to register with Fantoss (if such Invited User is not a existing User) and participate in the Game/Amusement Facility in relation to which such person was invited by the User. The participation of the Invited User in any of the Amusement Facilities shall be subject to the terms of this Privacy Policy and the Terms and Conditions (www.fantoss.com/terms) for the use of the Portal. The User hereby represents that the Invited Users have consented and agreed to such disclosure to and use of their email address and social media username by Fantoss.
    %p
      All required information is specific and based on the kind of Game/ Amusement Facility the User wishes to participate in or access, and will be utilized for the purpose of providing services, including but not limited to the Amusement Facility, requested by the User. The information as supplied by the Users enables us to improve the Amusement Facilities and provide you the most user-friendly game experience. Fantoss may also share such information with affiliates and third parties in limited circumstances, including for the purpose of providing services requested by the User, complying with legal process, preventing fraud or imminent harm, and ensuring the security of our network and services.

    %h5
      Disclosure/Sharing:
    %p
      Fantoss may also share information as provided by you and data concerning usage of the Amusement Facility and participation in the Games with third party service providers engaged by Fantoss, for the purpose of data analytics or other similar purposes, for the purpose of storage, improving the services and helping Fantoss serve you better.
    %p
      Where we propose to use your personal information (that is, information that that may be used to identify the User and that is not otherwise publicly available) for any other uses we will ensure that we notify you first. You will also be given the opportunity to withhold or withdraw your consent for your use other than as listed above.
    %p
      By using the Portal, you hereby expressly agree and grant consent to the collection, use and storage of this information by Fantoss. Fantoss reserves the right to share, disclose and transfer information collected hereunder with its own affiliates. In the event Fantoss sells or transfers all or a portion of its business assets, consumer information may be one of the business assets that are shared, disclosed or transferred as part of the transaction. You hereby expressly grant consent and permission to Fantoss for disclosure and transfer of information to such third parties. Further, Fantoss reserves the right to disclose personal information as obligated by law, in response to duly authorized legal process, governmental requests and as necessary to protect the rights and interests of Fantoss.

    %h5
      Use of Cookies:
    %p
      To improve the effectiveness and usability of the Portal for our Users, we use "cookies", or such similar electronic tools to collect information to assign each visitor a unique random number as a User Identification (User ID) to understand the User's individual interests using the identified computer. Unless the User voluntarily identifies himself/herself (e.g., through registration), Fantoss has no way of knowing who the User is, even if we assign a cookie to the User's computer. The only personal information a cookie can contain is information supplied by the User. A cookie cannot read data off the User's hard drive. Fantoss’s advertisers may also assign their own cookies to the User's browser (if the User clicks on their ad banners), a process that Fantoss does not control.
    %p
      Fantoss's web servers automatically collect limited information about User's computer's connection to the Internet, including User's IP address, when the User visits the Portal. (User's IP address is a number that lets computers attached to the Internet know where to send data to the User -- such as the web pages viewed by the User). The User's IP address does not identify the User personally. Fantoss uses this information to deliver its web pages to Users upon request, to tailor its Portal to the interests of its users, to measure traffic within the Portal and let advertisers know the geographic locations from where Fantoss's visitors come.

    %h5
      Links:
    %p
      Fantoss also includes links to other websites. Such websites are governed by their respective privacy policies, which are beyond Fantoss's control. Once the User leaves Fantoss's servers (the User can tell where he/she is by checking the URL in the location bar on the User's browser), use of any information provided by the User is governed by the privacy policy of the operator of the site which the User is visiting. That policy may differ from Fantoss's own. If the User can't find the privacy policy of any of these sites via a link from the site's homepage, the User may contact the site directly for more information. Fantoss is not responsible for the privacy practices or the content of such websites.

    %h5
      Security Procedures:
    %p
      All information gathered on Fantoss is securely stored within Fantoss- controlled database. The database is stored on servers secured behind a firewall; access to such servers being password-protected and strictly limited based on need-to-know basis. However, we understand that as effective as our security measures are, no security system is impenetrable. Thus, we cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. Further, any information you include in a posting to the discussion areas will be available to anyone with Internet access. By using the Portal, you understand and agree that your information may be used in or transferred to countries other than India.
    %p
      Fantoss also believes that the internet is an ever-evolving medium. We may periodically review from time to time and change our privacy policy to incorporate such future changes as may be considered appropriate, without any notice to you. Our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be. Any changes to our privacy policy will be posted on this page, so you are always aware of what information we collect, how we use it, how we store it and under what circumstances we disclose it.

    %h5
      Advertising:
    %p
      When Fantoss presents information to it's online advertisers -- to help them understand our audience and confirm the value of advertising on the Portal -- it is usually in the form of aggregated statistics on traffic to various pages within our site. When you register with Fantoss, we contact you from time to time about updating your content to provide features which we believe may benefit you.
    %p
      Several deceptive emails, websites, blogs etc. claiming to be from or associated with Fantoss may or are circulating on the Internet. These emails, websites, blogs etc. often include our logo, photos, links, content or other information. Some emails, websites, blogs etc. call the user to provide login name, password etc. or that the user has won a prize/ gift or provide a method to commit illegal/ unauthorized act or deed or request detailed personal information or a payment of some kind. The sources and contents of these emails, websites, blogs etc. and accompanying materials are in no way associated with Fantoss. For your own protection, we strongly recommend not responding to emails or using websites, blogs etc. We may use the information provided by you to Fantoss, including your email address or phone number, to contact you about the Amusement Facilities or other services availed by you or to inform you of our Amusement Facilities and services.

    %h5
      Conditions of Use:
    %p
      FANTOSS DOES NOT WARRANT THAT THIS PORTAL, IT’S SERVERS, OR EMAIL SENT BY US OR ON OUR BEHALF ARE VIRUS FREE. FANTOSS WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS PORTAL, INCLUDING, BUT NOT LIMITED TO COMPENSATORY, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL AND CONSEQUENTIAL DAMAGES, LOSS OF DATA, GOODWILL, BUSINESS OPPORTUNITY, INCOME OR PROFIT, LOSS OF OR DAMAGE TO PROPERTY AND CLAIMS OF THIRD PARTIES. IN NO EVENT WILL FANTOSS BE LIABLE FOR ANY DAMAGES WHATSOEVER IN AN AMOUNT IN EXCESS OF AN AMOUNT OF INR 100.

    %h5
      Retention of Data:
    %p
      Your personal information may be retained and may continue to be used until: (i) the relevant purposes for the use of your information described in this Privacy Policy are no longer applicable; and (ii) we are no longer required by applicable law, regulations, contractual obligations or legitimate business purposes to retain your personal information and the retention of your personal information is not required for the establishment, exercise or defense of any legal claim.

    %h5
      Applicable Law and Jurisdiction:
    %p
      By visiting this Portal, you agree that the laws of the Republic of India without regard to its conflict of laws principles, govern this Privacy Policy and any dispute arising in respect hereof shall be subject to and governed by the dispute resolution process set out in the Terms and Conditions www.fantoss.com/terms.

    %h5
      Updating Information:
    %p
      You will promptly notify Fantoss if there are any changes, updates or modifications to your information. Further, you may also review, update or modify your information and user preferences by logging into your Profile page on the Portal. 

    %h5
      Contact Us:
    %p
      Any questions or clarifications with respect to this Policy or any complaints, comments, concerns or feedback can be sent to Fantoss at connect@fantoss.com or by normal/physical mail addressed to:
    %p
      Fantoss Team
      %br
      29 Masihgarh, New Friends Colony 
      %br
      New Delhi 110025

