- content_for :title do
  Hello admin!

- content_for :intro_text do
  Successfull payment by : 
  %span.quote= @user_transaction.user.email

  %br/
  %br/

  Match
  %br/
  %span.quote= @match.title

  %br/
  %br/

  @user_transaction.params
  %br/
  %span.quote= @user_transaction.params

  %br/
  %br/

  @user_transaction.payment_gateway_response
  %br/
  %span.quote= @user_transaction.payment_gateway_response

- content_for :action_button do
  = link_to 'check @user_transaction', admin_user_transaction_url(@user_transaction)
