<%= "Welcome #{ @user.display_name } to fantoss. Aapko Milte h Rs#{ ApplicationYML['welcome_bonus'] } fantoss ki taraf se. KHELO JEETO KAMAO. Abhi Team Banao #{UrlShortnerService.shorten('https://fantoss.com/')}" %>
