<div class="row">
  <div class="col-sm-8">
    <%= form_tag(submit_path, method: :get) do %>
      <div style="display: inline-block;">
        <label>
          From Date
          <%= date_field_tag :start_date, params[:start_date], class: 'form-control' %>
        </label>
      </div>

      <div style="display: inline-block;">
        <label>
          To Date
          <%= date_field_tag :end_date, params[:end_date], class: 'form-control' %>
        </label>
      </div>

      <div style="display: inline-block;">
        <label>
          Order Date
          <%= select_tag :order_by, options_for_select(['ASC', 'DESC'], (params[:order_by] || 'ASC')), class: 'form-control' %>
        </label>
      </div>
      <%= hidden_field_tag(:val, "#{@league_type}") %>
      <div style="display: inline-block;">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">

      <div class="panel-heading"><strong>Current fantoss Wallet Amount</strong></div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6"><strong>Main Balance</strong></div>
          <div class="col-sm-6"><strong>Referral Balance</strong></div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            ₹ <%= Wallet.where('main_balance >= 0').sum(:main_balance) %>
          </div>
          <div class="col-sm-6">
            ₹ <%= Wallet.where('main_balance >= 0').sum(:referral_balance) %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
