<header style="display: inline-block; padding: 1.2em;">
  <%= link_to 'Score Pro', upcoming_series_admin_data_path(:api_provider => 'scorespro'), class: 'btn btn-success' %>
  <%= link_to 'Money Transaction', money_transactions_admin_data_path, class: 'btn btn-danger' %>
  <%= link_to 'New users', new_users_admin_data_path, class: 'btn btn-danger' %>
  <%= link_to 'Leagues', leagues_admin_data_path, class: 'btn btn-danger' %>
  <%= link_to 'Matches', matches_admin_data_path, class: 'btn btn-danger' %>
  <%= link_to 'Stats', stats_admin_data_path, class: 'btn btn-danger' %>
  <% User::AFFILIATE_DETAILS.keys.each do |affiliate| %>
    <%= link_to "#{ affiliate } users", send("#{ affiliate }_users_admin_data_path"), class: 'btn btn-danger' %>
  <% end %>
</header>
