<%= render 'header_buttons' %>

<h1 style="padding: 10px;"><%= action_name.humanize %></h1>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: send("#{ action_name }_admin_data_path") } %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th><%= action_name.humanize %> base users</th>
        <th>New user from <%= action_name.humanize %> referral</th>
        <th>New users-played any league</th>
        <th>New users-played paid league</th>
        <th>New users-played only free league</th>
        <th>New users-played no league</th>
      </tr>
    </thead>

    <tbody>
      <% @new_users_data.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value[:base_users] %></td>
          <td><%= value[:referred_users] %></td>
          <td>
            <%= "#{value[:referred_users_with_any_league]}(Referred) + #{value[:users_with_any_league]}(Base) = #{value[:referred_users_with_any_league] + value[:users_with_any_league]}" %>
          </td>
          <td>
            <%= "#{value[:referred_users_with_paid_league]}(Referred) + #{value[:users_with_paid_league]}(Base) = #{value[:referred_users_with_paid_league] + value[:users_with_paid_league]}" %>
          </td>
          <td>
            <%= "#{value[:referred_users_with_only_free_league]}(Referred) + #{value[:users_with_only_free_league]}(Base) = #{value[:referred_users_with_only_free_league] + value[:users_with_only_free_league]}" %>
          </td>
          <td>
            <%= "#{value[:referred_users_with_no_league]}(Referred) + #{value[:users_with_no_league]}(Base) = #{value[:referred_users_with_no_league] + value[:users_with_no_league]}" %>
          </td>
        </tr>
      <% end %>

      <tr style="font-weight: bold; color: crimson;">
        <td>TOTAL</td>
        <td><%= @base_users %></td>
        <td><%= @referred_users %></td>
        <td>
          <%= "#{@referred_users_with_any_league}(Referred) + #{@users_with_any_league}(Base) = #{@referred_users_with_any_league + @users_with_any_league}" %>
        </td>
        <td>
          <%= "#{@referred_users_with_paid_league}(Referred) + #{@users_with_paid_league}(Base) = #{@referred_users_with_paid_league + @users_with_paid_league}" %>
        </td>
        <td>
          <%= "#{@referred_users_with_only_free_league}(Referred) + #{@users_with_only_free_league}(Base) = #{@referred_users_with_only_free_league + @users_with_only_free_league}" %>
        </td>
        <td>
          <%= "#{@referred_users_with_no_league}(Referred) + #{@users_with_no_league}(Base) = #{@referred_users_with_no_league + @users_with_no_league}" %>
        </td>
      </tr>

      <tr style="font-weight: bold; color: green;">
        <td>AVERAGE</td>
        <td><%= (@base_users/@total_records).round(3) %></td>
        <td><%= (@referred_users/@total_records).round(3) %></td>
        <td>
          <%= "#{(@referred_users_with_any_league/@total_records).round(3)}(Referred) + #{(@users_with_any_league/@total_records).round(3)}(Base) = #{(@referred_users_with_any_league/@total_records).round(3) + (@users_with_any_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@referred_users_with_paid_league/@total_records).round(3)}(Referred) + #{(@users_with_paid_league/@total_records).round(3)}(Base) = #{(@referred_users_with_paid_league/@total_records).round(3) + (@users_with_paid_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@referred_users_with_only_free_league/@total_records).round(3)}(Referred) + #{(@users_with_only_free_league/@total_records).round(3)}(Base) = #{(@referred_users_with_only_free_league/@total_records).round(3) + (@users_with_only_free_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@referred_users_with_no_league/@total_records).round(3)}(Referred) + #{(@users_with_no_league/@total_records).round(3)}(Base) = #{(@referred_users_with_no_league/@total_records).round(3) + (@users_with_no_league/@total_records).round(3)}" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
