<%= render 'header_buttons' %>

<h1 style="padding: 10px;">Matches Statistics: <small>Select date range to search for match <em>Start Date</em> within the range.</small></h1>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: matches_admin_data_path } %>
  <hr>

  <% if @match_stats.present? %>

    <table class="table">
      <thead>
        <tr>
          <th>Match and Date</th>
          <th>Details</th>
          <% League::PAID_LEAGUE_ENUM.each do |l_entry_fee| %>
            <th>Rs <%= l_entry_fee %> League</th>
          <% end %>
          <th>Total Stats per Match</th>
        </tr>
      </thead>

      <tbody>
        <% @match_stats.each do |key, value| %>
          <tr>
            <td>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Match Id: <%= value[:match_details].id %></td>
                  </tr>
                  <tr>
                    <td><%= value[:match_details].team_names %></td>
                  </tr>
                  <tr>
                    <td><%= value[:match_details].human_start_time %></td>
                  </tr>
                </tbody>
              </table>
            </td>

            <td>
              <table class="table">
                <thead>
                  <% @secondary_headers.each do |hdr| %>
                    <tr>
                      <th><%= hdr %><br></th>
                    </tr>
                  <% end %>
                </thead>
              </table>
            </td>

            <% value[:leagues_details].each do |key1, details| %>
              <td>
                <table class="table">
                  <tbody>
                    <% details.each do |key2, detail| %>
                      <tr>
                        <td><%= detail %><br></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            <% end %>
            <td>
              <table class="table">
                <tbody>
                  <% value[:match_total_stats].each do |key2, detail| %>
                    <tr>
                      <td><%= detail %><br></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>

          </tr>
        <% end %>

        <tr style="font-weight: bold; color: crimson;">
          <td>GRAND TOTAL</td>
          <td>
            <table class="table">
              <thead>
                <% @secondary_headers.each do |hdr| %>
                  <tr>
                    <th><%= hdr %><br></th>
                  </tr>
                <% end %>
              </thead>
            </table>
          </td>

          <% @total_match_stats.each do |key1, details| %>
            <td>
              <table class="table">
                <tbody>
                  <% details.each do |key2, detail| %>
                    <tr>
                      <td><%= detail %><br></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          <% end %>
          <td>
            <table class="table">
              <tbody>
                <% @total_match_total_stats.each do |key2, detail| %>
                  <tr>
                    <td><%= detail %><br></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>

        </tr>

        <tr style="font-weight: bold; color: green;">
          <td>GRAND AVERAGE</td>
          <td>
            <table class="table">
              <thead>
                <% @secondary_headers.each do |hdr| %>
                  <tr>
                    <th><%= hdr %><br></th>
                  </tr>
                <% end %>
              </thead>
            </table>
          </td>

          <% @total_match_stats.each do |key1, details| %>
            <td>
              <table class="table">
                <tbody>
                  <% details.each do |key2, detail| %>
                    <tr>
                      <td><%= (detail.to_f/@matches_count).round(3) %><br></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          <% end %>
          <td>
            <table class="table">
              <tbody>
                <% @total_match_total_stats.each do |key2, detail| %>
                  <tr>
                    <td><%= (detail.to_f/@matches_count).round(3) %><br></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>

        </tr>

      </tbody>
    </table>

  <% else %>
    <div class="well text-danger text-center">
      No Matches Available for the selected date range.
    </div>
  <% end %>
</div>
