<%= render 'header_buttons' %>

<h1 style="padding: 10px;">New User Registrations Details</h1>
<div style='padding:10px'>

  <%= render partial: 'data_search_form', locals: { submit_path: new_users_admin_data_path } %>
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Total New Users</th>
        <th>New User from Non-referral sources</th>
        <th>New Users from Referrals</th>
        <th>Total Referral Money Credited</th>
        <th>New Users-Played Any league</th>
        <th>New Users-Played Paid league</th>
        <th>New Users-Played Only Free league</th>
        <th>New Users-Played No league</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Non Referred(%) + Referred(%) = Total(%)</th>
        <th>Non Referred(%) + Referred(%) = Total(%)</th>
        <th>Non Referred(%) + Referred(%) = Total(%)</th>
        <th>Non Referred(%) + Referred(%) = Total(%)</th>
      </tr>
    </thead>

    <tbody>
      <% @new_users_data.each do |key, value| %>
        <tr>
          <td><%= key %></td>
          <td><%= value[:total_users] %></td>
          <td><%= "#{value[:unreferred_users]}(#{(value[:unreferred_users]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %></td>
          <td><%= "#{value[:referred_users]}(#{(value[:referred_users]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %></td>
          <td><%= value[:referred_money_credited] %></td>
          <td>
            <%= "#{value[:unreferred_users_with_any_league]}(#{(value[:unreferred_users_with_any_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) + #{value[:referred_users_with_any_league]}(#{(value[:referred_users_with_any_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) = #{value[:users_with_any_league]}(#{(value[:users_with_any_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %>
          </td>
          <td>
            <%= "#{value[:unreferred_users_with_paid_league]}(#{(value[:unreferred_users_with_paid_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) + #{value[:referred_users_with_paid_league]}(#{(value[:referred_users_with_paid_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) = #{value[:users_with_paid_league]}(#{(value[:users_with_paid_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %>
          </td>
          <td>
            <%= "#{value[:unreferred_users_with_only_free_league]}(#{(value[:unreferred_users_with_only_free_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) + #{value[:referred_users_with_only_free_league]}(#{(value[:referred_users_with_only_free_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) = #{value[:users_with_only_free_league]}(#{(value[:users_with_only_free_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %>
          </td>
          <td>
            <%= "#{value[:unreferred_users_with_no_league]}(#{(value[:unreferred_users_with_no_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) + #{value[:referred_users_with_no_league]}(#{(value[:referred_users_with_no_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%) = #{value[:users_with_no_league]}(#{(value[:users_with_no_league]/((value[:total_users] <= 0 ? 1 : value[:total_users])*0.01)).round(3)}%)" %>
          </td>
        </tr>
      <% end %>

      <tr style="font-weight: bold; color: crimson;">
        <td>TOTAL</td>
        <td><%= @total_users %></td>
        <td><%= @unreferred_users %></td>
        <td><%= @referred_users %></td>
        <td><%= @referred_money_credited %></td>
        <td>
          <%= "#{@unreferred_users_with_any_league}(#{((@unreferred_users_with_any_league <= 0 ? 1 : @unreferred_users_with_any_league)/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) + #{@referred_users_with_any_league}(#{(@referred_users_with_any_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) = #{@users_with_any_league}(#{(@users_with_any_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%)" %>
        </td>
        <td>
          <%= "#{@unreferred_users_with_paid_league}(#{(@unreferred_users_with_paid_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) + #{@referred_users_with_paid_league}(#{(@referred_users_with_paid_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) = #{@users_with_paid_league}(#{(@users_with_paid_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%)" %>
        </td>
        <td>
          <%= "#{@unreferred_users_with_only_free_league}(#{(@unreferred_users_with_only_free_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) + #{@referred_users_with_only_free_league}(#{(@referred_users_with_only_free_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) = #{@users_with_only_free_league}(#{(@users_with_only_free_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%)" %>
        </td>
        <td>
          <%= "#{@unreferred_users_with_no_league}(#{(@unreferred_users_with_no_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) + #{@referred_users_with_no_league}(#{(@referred_users_with_no_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%) = #{@users_with_no_league}(#{(@users_with_no_league/((@total_users <= 0 ? 1 : @total_users)*0.01)).round(3)}%)" %>
        </td>
      </tr>

      <tr style="font-weight: bold; color: green;">
        <td>AVERAGE</td>
        <td><%= (@total_users/@total_records).round(3) %></td>
        <td><%= (@unreferred_users/@total_records).round(3) %></td>
        <td><%= (@referred_users/@total_records).round(3) %></td>
        <td><%= (@referred_money_credited/@total_records).round(3) %></td>
        <td>
          <%= "#{(@unreferred_users_with_any_league/@total_records).round(3)} + #{(@referred_users_with_any_league/@total_records).round(3)} = #{(@users_with_any_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@unreferred_users_with_paid_league/@total_records).round(3)} + #{(@referred_users_with_paid_league/@total_records).round(3)} = #{(@users_with_paid_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@unreferred_users_with_only_free_league/@total_records).round(3)} + #{(@referred_users_with_only_free_league/@total_records).round(3)} = #{(@users_with_only_free_league/@total_records).round(3)}" %>
        </td>
        <td>
          <%= "#{(@unreferred_users_with_no_league/@total_records).round(3)} + #{(@referred_users_with_no_league/@total_records).round(3)} = #{(@users_with_no_league/@total_records).round(3)}" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
