<head>
   <!-- Latest compiled and minified CSS Bootstrap -->
  <script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-1.7.2.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

</head>

<div class = "container">
  <div style="padding: 20px 10px;">
  <%= link_to "TOTAL", databuddy_path(val: "total"), class: "btn btn-primary #{ params[:val] == 'total' ? 'active' : '' }", method: :get %>
  <% (1..12).each do |month| %>
    <%= link_to "#{Date::MONTHNAMES[month]}", databuddy_path(month: month), class: "btn btn-info #{ @month == month.to_s ? 'active' : '' }", method: :get %>
  <%end%>
</div>

<table id="databuddy_table" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th rowspan="2">Month</th>
          <th rowspan="2">SIGNUP</th>
          <th colspan="9" class="text-center">TRANSACTION AMOUNT(₹)</th>
          <th rowspan="2" >TOTAL(₹)</th>
      </tr>
      <tr>
        <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
          <th> <%= entry_fee %> </td>
        <%end%>
      </tr>
  </thead>
  <% if @val == "total"%>
    <% @all_months.each do |date| %>
        <tbody>
          <td> <%= date %> </td>
          <td> <%= @month_user_count[date] || 0 %> </td>
          <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
            <td><%= @month_price_count[[ Date.new(date.year, date.month, date.day), entry_fee.to_i]] || 0 %> </td>
          <% end %>
          <td><%= @month_price_count_total[Date.new(date.year, date.month, date.day)] || 0 %></td>
          </tr>
        </tbody>
    <% end %>
  <% else %>
    <% @days_from_selected_month.each do |date| %>
      <tbody>
        <td> <%= date %> </td>
        <td> <%= @user_count[date] || 0 %> </td>
        <% League::ENTRY_FEE_ENUM.each do |entry_fee| %>
          <td> <%= @price_count[[ Date.new(date.year, date.month, date.day), entry_fee.to_i ]] || 0 %> </td>
        <% end %>
        <td> <%= @month_price_count_total[Date.new(date.year, date.month, date.day)] || 0 %> </td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>


<script type="text/javascript">
  $(document).ready(function() {
    var table = $('#databuddy_table').DataTable({
      responsive: true,
      paging: false,
      scrollY: '60vh',
    });
  });
</script>
