.container
  .student_bx
    %h4
      Accept Challenge to join the league.
    .row
      %h4
        Here are some the league details.
      %table
        %tr
          %td
            Challenger name:
          %td
            %b= @challenge.user.first_name
        %tr
          %td
            League name:
          %td
            %b= @league.name
        %tr
          %td
            Playing fees:
          %td
            %b= @league.entry_fee
        %tr
          %td
            Prize money:
          %td
            %b= @league.prize_money
    .row
      - if current_user
          .col-md-4.col-xs-6
            = link_to "PLAY NOW (Make you Team)", new_match_contest_user_team_path(match_id: @league.match_id, contest_id: Contest::TOP_5_CONTEST, league_id: @league), class: 'btn btn-info btn-lg btn-block'
      - else
        = render 'authentications/providers', flow: :login, icons: true, color: true
