<div class="container">
  <div class="student_bx">
    <h4>Challenge Accepted</h4>
    <% league = @challenge.league %>
    <% match = @challenge.match %>
    Challenger name: <b><%= @challenge.user.first_name %></b><br>
    League name: <b><%= league.name %></b><br>
    Playing fees: <b><%= league.entry_fee %></b><br>
    Prize Money: <b><%= league.prize_money %></b>

    <div class="row">
      <div class="col-md-4 col-xs-6">
        <%= link_to "PLAY NOW (Make you Team)", new_match_contest_user_team_path(match_id: match, contest_id: Contest::TOP_5_CONTEST, league_id: @league), class: 'btn btn-info btn-lg btn-block' %>
      </div>
      <div class="col-md-4 col-xs-6">
      <%= link_to "PLAY NOW (TOP 11 Players)", new_match_contest_user_team_path(match_id: match, contest_id: Contest::TOP_11_CONTEST, league_id: @league), class: 'btn btn-info btn-lg btn-block col-md-4 col-xs-6' %>
      </div>
    </div>

  </div>
</div>
