.container
  .student_bx.text-center
    %h6.title_4= I18n.t 'auth.forgot.link'
    %hr.rule250
    .col-xs-12.col-md-6.col-md-offset-3
      = simple_form_for resource, as: resource_name, url: password_path(resource_name), method: :post, html: { class: 'text-left' } do |f|
        = f.input :email, autofocus: true, required: true
        %br/
        = f.button :submit, I18n.t('auth.forgot.submit'), class: 'btn btn-primary btn-block'
        / = link_to 'SUBMIT', '#submit', onclick: "$(this).parent().submit();" , class: 'btn btn-primary btn-block'
        = render "users/shared/links"
