@import url('https://fonts.googleapis.com/css?family=Roboto:regular&amp;lang=en');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400');


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background: #ecf0f1;
  color: rgba(43,43,43,0.7);
  font-family: "Exo 2","Helvetica","Arial",sans-serif;
  line-height: 1;
}
.expo-400,
.expo-800{
  font-family: "Exo 2";
}
.expo-400 {
  font-weight: 400;
}
.expo-800{
  font-weight: 800;
}
.mdl-card {
  min-height: auto;
}
/* Disable ugly boxes around images in IE10 */
.relative {
  position: relative;
}
.default-pointer {
  cursor: default;
}
.hide{
  display: none;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}
.pace-running .material-icons {
}
.pace-running .fantoss-navigation-container {

}
.fantoss-navigation-container {
  opacity: 1;
  transition:all 0.5s;
}
a img{
  border: 0px;
}
.require {
  color: rgba(238,0,0,0.5);
}
.material-icons {
  color: #7f7f7f;
  font-size: 20px;
}
a {
  color: #29487d;
  text-decoration: none;
}
a:hover,
.mdl-button:hover {
  opacity: 0.8;
  transition:all 0.5s;
}
a.mdl-button,
a.mdl-button.mdl-button--colored {
  color: #fff;
}
a .material-icons{
  color: inherit;
}
.bold {
  font-weight: bold;
}
.faq_question{
  font-size: 16px;
  color: #013687;
  opacity: 0.9;
}
.size-16{
  font-size: 18px;
}
.size-12 {
  font-size: 14px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.img-resposive {
  max-width: 100%;
  display: block;
}
.uppercase {
  text-transform: uppercase;
}
.uppercase-none{
  text-transform: none;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
::-moz-selection {
  background-color: #29487d;
  color: #fff;
}

::selection {
  background-color: #29487d;
  color: #fff;
}
.mdl-layout__header--waterfall {
  overflow: initial;
}
.fantoss-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}
.fantoss-header {
  background-color: white;
}
.mdl-layout__header-row {
  max-height: 88px;
  padding: 0 23px 0 28px;
}
.inner-page-header .mdl-layout__header-row {
  padding-left: 80px;
}
.inner-page-heade.is-compact .mdl-layout__header-row {
  max-height: 70px;
}
.mdl-layout__header .mdl-layout__drawer-button {
  margin-top: 8px;
}
.mdl-layout__drawer-button .material-icons {
  color: #29487d !important;
  font-size: 40px;
}
.header_spacer {
  display: flex;
  flex-grow: 1;
}
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: #003185;
}
.fan-mojo-form {
  max-width: 600px;
  margin: 3vw auto 3vw;
  background: #fff;
  padding: 20px;
}

.birth-heading {
  font-size: 15px;
  font-weight: bold;
}
.fan-mojo-form .mdl-card__actions {
  padding: 20px 0;
}
.fan-mojo-form .top-page-heading {
  font-size: 16px;
  padding: 10px;
  height: auto;
  line-height: normal;
}
.fan-mojo-form .mdl-checkbox {
  height: auto;
}
.fan-mojo-form .agree-text {
  font-size: 13px;
  line-height: 1;
}
.mdl-textfield {
  width: 100%;
}
.mdl-textfield__label {
  color: rgba(0,0,0,0.4);
}
.fan-mojo-form .mdl-button {
  font-size: 18px;
}
/*navigation css*/
.fantoss-logo-image {
  width: 3%;
}
.fantoss-navigation-container {
  direction: rtl;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fantoss-navigation {
  direction: ltr;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #29487d;
  padding: 0 13px;
  line-height: 34px;
  font-weight: bold;
}
.mdl-layout__header-row .mdl-navigation__link + .mdl-navigation__link {
  border-right:solid 1px #cccccc;
}
.fantoss-header .material-icons.dp36{
  font-size: 36px;
}
.fantoss-header .material-icons.dp48 {
  font-size: 48px;
}
.mdl-layout__header-row .mdl-navigation__link.chat-icon {
  position: relative;
  padding-right: 0;
}
.chat-icon:before {
  content: "Chat";
  color: #fff;
  position: absolute;
  left: 14px;
  right: 0;
  line-height: 40px;
  text-align: center;
  text-transform: none;
  font-size: 12px;
  font-weight: normal;
}
.join-team-icon {
  background: image-url("sprite.png") 0 0 no-repeat;
  height: 34px;
  width: 21px;
  display: inline-block;
  vertical-align: middle;
}
.fantoss-icon {
  background: image-url("sprite.png") 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.bastman-icon{
  background-position: -27px -36px;
  width: 26px;
  height: 30px;
}
.is-active .bastman-icon {
  background-position: 0 -36px;
}
.bowler-icon{
  background-position: -27px -66px;
  width: 26px;
  height: 27px;
}
.is-active .bowler-icon {
  background-position: 0 -66px;
}
.header-cover{
  background: image-url("stadium-min.png") 45% 45% no-repeat;
  background-size:cover;
}
.header_bar{
  /*background-image: image-url("head_back1.jpg");*/
  background-color: #29487d;
  border-bottom: 1px dashed #ECF0F1;
}
.header_bar .mdl-card__title-text{
  color:#fff;font-weight:600;padding:3px;
}
.header_bar .header_btn{
  background-color: rgba(255, 255, 255, 0.92);
  font-size: 1.3em;
  font-weight: 600;
  padding: 5px 10px;
}

.highlight-section{
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(236, 240, 241, 0.85);
  list-style-position: inside;
  margin-top: 10px;
  text-transform: none;
  font-size: 1.1em;
  line-height: 29px;
  border-radius: 4px;
  color:#020903;
}

.contest-message {
  text-align: center;
  padding: 40px 0 30px;
  font-size: 1.8em;
  font-weight: 400;
  text-shadow: 1px 1px #083B8B;
  line-height: 42px;
  color: #FFF;
}
.contest-message .sub-slogan {
  font-size: 19px;
  font-family: "Exo 2";
}

.winning-chance {
  font-size: 61.5%;
  font-weight: normal;
  padding-top: 60px;
}
.how-to-play-section {
  max-width: 585px;
  margin: 0 auto;
  padding: 0 10px;
}
.material-icons.white {
  color: #fff;
}
.how-play-video,
.play-with-fb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 100%;
  font-size: 20px;
  line-height: 72px;
  height: auto;
  margin-bottom: 14px;
  text-align: left;
  position: relative;
}
.play-with-fb {
  line-height: 56px;
}
.how-to-play-section .mdl-button {
  text-transform: none;
  font-weight: 400;
}
.mdl-button.mdl-button--colored {
  background: #29487d;
  color: #fff;
}
.mdl-button.mdl-button--colored.dark {
  background: #29487d;
}
.mdl-button.play-with-fb{
  background: #4c9bd6;
  padding-left: 80px;
  width: 40%;
  min-width: 200px
}
#how_to_play_box{
  // background:#4C7379 image-url("play-btn-bg.png") no-repeat scroll center 15% / cover ;
  background:#486267 image-url("play-btn-bg.png") no-repeat scroll center 15% / cover ;
  border-radius: 3px;
  // background: url("/meta_assets/og_image.jpg") no-repeat scroll center 15% / cover ;
}

.mdl-button.mdl-button--colored.how-play-video {
  background: transparent;
  // #3E5058
  // ##345767
  height: 106px;
  text-align:center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: none;
}
.how-play-video .material-icons {
  font-size: 350%;
  top: 50%;
}
.play-with-fb .fb-icon-part {
  position: absolute;
  left: 0;
  top: 25%;
  border-right: solid 1px #67B2E4;
  padding: 0 20px;
  font-size: 1.5em;
}

.divider {
  border: none;
  height: 1px;
  background: #d4d8d8;
  margin: 20px 4.66%;
}
.user-row .hm-contest{
  width: calc(33.3333333333% - 16px);
}
.name-row {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 20px;
}
.fan-mojo-circle-crad {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #fff;
  width: 84px;
  height: 84px;
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}
.fan-mojo-circle-crad img {
  max-width: 100%;
}

/*footer css*/
.mdl-mega-footer--left-section, .mdl-mega-footer--right-section, .mdl-mega-footer__left-section, .mdl-mega-footer__right-section {
  margin-bottom: 0;
}
.mdl-mega-footer--left-section{
  float: left;
}
.mdl-mega-footer--right-section {
  float: right;
}
.fan-mojo-footer {
  background: #fff;
  border-top: solid 1px #d3d6d7;
  position: relative;
  padding: 10px 30px;
}
.fan-mojo-footer:before {
  content: " ";
  display: block;
  border-top: solid 1px #b9bcbd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.mdl-mega-footer--right-section a, .mdl-mega-footer__right-section a {
  display: inline;
  padding: 0;
  margin: 0;
  line-height: normal;
}
.fan-mojo-footer .material-icons {
  vertical-align: middle;
  margin-left: 10px;
}
.mdl-card__menu {
  top: 5px;
  right: 5px;
}
.mdl-row-clear:after {
  content: " ";
  clear: both;
  width: 100%;
  display: block;
}

/*inner pages*/

.mdl-card__title.mdl-card__title_center {
  justify-content: space-around;
}
.fantoss-tour-media-card-row {
  padding: 0 10px;
}
.fantoss-media-card {
  padding:0 0 20px;
  width: 40%;
}
.fantoss-media-card .team-logo {
  width: 40%;
  border: 1px solid black;
  border-radius: 50%;
}

.fantoss-media-card .mdl-card__media{
  height: 123px;
  text-align: center;
  border-radius: 50%;
  background: #ecf0f1;
  overflow: hidden;
  width: 100%;
  display: table;
}
.fantoss-media-card .mdl-card__media img {
  max-height: 80%;
  display: block;
  margin: 0 auto;
}
.mdl-card__media .img-elem {
  display: table-cell;
  vertical-align: middle;
}
.team-name {
  padding-top: 10px;
  color: #013688;
  font-size: 22px;
}
.v-s {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -10px;
  font-size: 21px;
  font-family: 'courier new', "Roboto","Helvetica","Arial",sans-serif; // 'Exo 2'
}
.fantoss-card-container .btn-full {
  display: block;
  margin: 10px 5.4%;
  height: 48px;
  background: #29487d;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
  font-weight: 600;
}
.fantoss-card-container .btn-full + .btn-full {
  margin-top: 20px;
}
.fantoss-card-container .btn-full:last-child {
  margin: 0px;
}
.action_box .mdl-grid, .action_box{
  padding:0px;
}
.palying-user-row {
  justify-content: space-between;
}
.palying-user-col {
  display: flex;
  align-self: center;
  padding: 5px 0;
}
.player-circle {
  border-radius: 50%;
  width: 40px;
  display: inline-block;
  overflow: hidden;
}
.player-circle + .player-circle {
  margin-left: 5px;
}
.player-circle img {
  width: 100%;
}
.fantoss-tour-media-card-row .mdl-card--border {
  padding: 15px 10px;
}
.fantoss-tour-media-card-row .mdl-cell.playing-people {
  font-size: 16px;
  align-self: center;
}


/*side left nav fantoss-drawer*/
.fantoss-drawer {
  width: 300px;
  transform: translateX(-300px);
}
.fantoss-drawer .mdl-navigation {
  padding-top: 0;
}
.fantoss-drawer .mdl-layout-title {
  position: relative;
  background: #90a3c3;
  text-align: center;
  color: #fff;
  padding: 38px 13px ;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.fantoss-drawer .user-pic {
  border-radius: 50%;
  max-width: 142px;
  max-height: 142px;
  display: block;
  margin: 0 auto;
}
.fantoss-drawer .mdl-layout-title .user_name {
  font-size: 16px;
  margin-top: 10px;
}
.fantoss-drawer .mdl-layout-title hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background: #4e73ac;
}
.fantoss-drawer .mdl-navigation .mdl-navigation__link {
  padding: 18px;
  border-bottom: solid 1px #DBDCDE;
  font-size: 15px;
  color: #3C454C;
}
.fantoss-drawer .mdl-navigation .mdl-navigation__link.seperator {
    padding: 10px;
    background: #FFFFFF;
    color: #29487d;
    text-transform: uppercase;
}


/*team select page*/
.top-page-heading {
  background-color: #f8f8f8;
  border-bottom: solid 1px #efeded;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
}
.top-page-heading a {
  width: 40px;
  height: 40px;
  line-height: 1;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -20px;
  background: none;
  cursor: pointer;
}
.top-page-heading .material-icons {
  font-size: 30px;
}

.team-select-container .team-title-text {
  font-size: 16px;
  padding: 25px 15px;
  position: relative;
  border-bottom: solid 1px #dddddd;
  z-index: 1;
}
.close-icon,
.step-completed .step-complete-icon{
  opacity: 1;
  transition:all 0.2s;
  font-size: 18px;
}
.step-complete-icon,
.step-completed .close-icon{
  opacity: 0;
  font-size: 0;
}
.step-completed .temp-step-block {
  display: none;
}
.step-section {
  min-height: auto;
}

.step-section .mdl-button--fab:focus:not(:active) {
  box-shadow: none;
  background: initial;
}

.team-title-text .mdl-button {
  background: none;
  box-shadow: none;
  border: solid 1px #cfcece;
  height: 40px;
  width: 40px;
  min-width: auto;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -20px;
}
.mdl-tabs__tab-bar {
  position: relative;
  z-index: 1;
}
.mdl-tabs__tab-bar.justify-tabs {
  display: table;
  width: 100%;
}
.team-select-container .mdl-tabs__tab {
  text-transform: none;
  font-weight: normal;
}
.mdl-tabs__tab-bar.justify-tabs .mdl-tabs__tab,
.fake-tabs {
  display: table-cell;
  width: 1;
  float: none;
  line-height: normal;
  vertical-align: middle;
  padding: 0;
  letter-spacing: -0.02em;
  font-size: 16px;
  text-align: center;
  color: rgba(0,0,0,.54);
}
.mdl-tabs__tab {
  cursor: pointer;
}
.mdl-tabs__tab-bar .mdl-tabs__tab.is-active {
  background: #29487d;
  color: #fff !important;
  cursor: default;
}
.mdl-tabs__tab-bar.justify-tabs .mdl-tabs__tab.is-active::after {
  background: none;
}

.fake-tabs + .mdl-tabs__tab {
  display: none !important;
}
.table-full {
  width: 100%;
}
.team-select-table {
  border-collapse: inherit;
}
.team-select-table tbody tr {
  position: static !important;
  height: auto;
}
.mdl-data-table {
  border: none;
  margin-top: -1px;
}
.mdl-data-table.team-select-table tr td {
  border-top: none;
}
.mdl-data-table.team-select-table > tr td {
  vertical-align: top;
}
.mdl-data-table td, .mdl-data-table th{
  text-align:left !important;
}

.team-select-table td,
.team-select-table td:first-of-type, .team-select-table th:first-of-type,
.team-select-table td:last-of-type, .team-select-table th:last-of-type{
  padding: 20px 5px 20px;
  text-align: left;
}
.team-select-table td:last-of-type {
  padding-left: 0;
  padding-right: 0;
}
.team-select-table .item-row td:last-of-type {
  width: 40px;
  text-align: center;
}
.team-select-table .item-row > td:first-of-type {
  width: 50px;
  padding-left: 10px;
}
.team-select-table td.text-right {
  text-align: right;
}
.team-select-table .player-circle {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.fantoss-body-content.has-white-bg {
  background: #fff;
}
.cmn-detail + .cmn-detail {
  margin-left: 5px;
}
.team-select-table .item-row.is-selected {
  background-color: #f2f8ea;
}
.item-row{
  background: #fff;
  line-height: 1.2;
}
.detail-row + .item-row{
  background: #f8f8f8;
}
.more-detail {
  display: inline-block;
  margin-top: 3px;
  cursor: pointer;
  font-weight: normal;
  position: relative;
  z-index: 10;
}


.detail-row.show-detail {
  display: table-row;
}
.detail-row > td {
  padding: 0 !important;
  height:0;
  line-height: 20px;
}
.item-row.gray-row {
  background: #f8f8f8;
}

.item-row.white-row {
  background: #fff;
}
.item-row:hover + .detail-row {
  background-color: #eee;
}
.payer-detail{
  margin-top: -12px;
  position: relative;
  display: none;
  border: solid 1px rgba(0,0,0,0.4);
}
.payer-detail table {
  width: 100%;
}
.payer-detail table th {
  font-weight: bold;
  background: #eee;
}
.detail-row > td {
  border: none;
}
.payer-detail table td,
.payer-detail table th {
  padding: 0 10px 10px !important;
  text-align: left;
  white-space: normal;
}
.payer-detail td + td,
.payer-detail th + th {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.payer-detail table td {
  background: #fff !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.white-row + .detail-row .payer-detail table td {
  background: #fff;
}
.item-row:hover + .detail-row .payer-detail table td {
  background: #eee;
}
.payer-detail table td:first-of-type{
  width: 60px;
}
.detail-row .check-click {
  display: none !important;
}
.payer-detail caption {
  font-weight: bold;
  text-align: left;
  background: #5a5a5a;
  color: #fff;padding: 10px;
}
/*checkbox-style */
.checkbox-label, .checkbox-captain-label {
  position: relative;
  width: 16px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}
.checkbox-label input, .checkbox-captain-label input,
.radio-label input{
  position: absolute;
  visibility: hidden;
}

.check-box-helper{
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 18px;
  z-index: 2;
  transition: all 0.5s;
}
.check-box-helper .check-icon {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 1px;
  transition: all 0.5s;
}
.checkbox-label input:checked + .check-box-helper, .checkbox-captain-label input:checked + .check-box-helper {
  border-color:#013688;
  background: #013688;
}
.checkbox-label input:checked + .check-box-helper .check-icon, .checkbox-captain-label input:checked + .check-box-helper .check-icon {
  opacity: 1;
}
.next-screen-block {
  border-top: none;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.step-completed + .team-title-text .step-section {
  border-top: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: relative;
  top: -1px;
}

.radio-label {
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  top: -5px;
}
.radio-label .helper {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  height: 100%;
  width: 100%;
  left: 0;
  top: 3px;
  transition: all 0.5s;
}
.radio-label .check-icon {
  transition: all 0.2s;
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #013688;
  border-radius: 50%;
}
.radio-label input:checked + .helper{
  border-color: #013688;
}
.radio-label input:checked + .helper .check-icon {
  height: 10px;
  width: 10px;
  left: 5px;
  top: 5px;
}
/*leage select*/
.league-tabs {
  margin-bottom: 10px;
}
.leage-select-table tr td {
  text-align: center;
  line-height: 1.5;
  border-top: none;
  border-bottom: solid 1px #d9dbdb;
}
.leage-select-table {
  white-space: normal;
  border-collapse: inherit;
}
.leage-select-table tbody tr {
  position: static;
}
.leage-select-table td + td,
.justify-tabs.league-tabs .mdl-tabs__tab + .mdl-tabs__tab {
  border-left: solid 1px #d9dbdb;
}
.justify-tabs.league-tabs .mdl-tabs__tab,
.leage-select-table tr td {
  width: 20%;
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.leage-select-table tr:nth-child(odd) {background: #f8f8f8}
.leage-select-table tr:nth-child(even) {background: #FFF}
.leage-select-table .player-circle {
  width: 40px;
}
.leage-select-table td .mdl-button{
  background: #29487d;
}

.team-select-container.league-select-container .next-screen-block {
  margin-top: 80px;
  border-top: solid 1px #e5e5e5;
  padding-top: 40px;
  margin-bottom: 20px;
}
.step-section {
  border-bottom: solid 1px #e5e5e5;
}
.step-completed .team-title-text {
  border-bottom: 0;
}
.challenge-friend-slogan.mdl-button {
  line-height: 1;
  font-size: 13px;
  height: auto;
  width: 95%;
  padding: 15px 20px;
  margin-bottom: 20px;
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.challenge-friend-slogan.mdl-button.pwf {
  width: 40%;
}
.challenge-friend-slogan.mdl-button .reward {
  font-size: 12px;
}
.challenge-friend-slogan.mdl-button .palying-user-row {
  margin-top: 5px;
}
.challenge-friend-slogan.mdl-button .palying-user-col + .palying-user-col{
  padding-left: 10px;
}
.challenge-friend-slogan.mdl-button p {
  font-size: 18px;
  margin-bottom: 0;
}
.challenge-friend-slogan.mdl-button a {
  font-size: 24px;
  background: #fff;
  padding: 0 15px;
  position: absolute;
  line-height: 38px;
  right: 20px;
  top: 15px;
  display: inline-block;
  height: 38px;
  text-decoration: none;
  z-index: 9;
}

/*congrats slogan*/
.congrats-slogan {
  color: rgba(35, 143, 25, 0.7);
  font-size: 20px;
  padding: 30px 0 20px;
  line-height: 1.5;
}
.mdl-cell.league-palying-card  {
  margin-bottom: 10px;
}
.mdl-cell.congo-palying-card{
  margin-bottom: 25px;
}
.mdl-cell.league-palying-card {
  border: solid 1px #cacaca;
}
.congrats-slogan .congo {
  font-size: 25px;
}

.congo-palying-card .mdl-card--border {
  padding: 15px 10px;
}
.congo-palying-card .cmn-big-card,
.mdl-lg--card{
  padding: 20px 10px;
}
.mdl-lg--card{
  font-size: 21px;
  color: #009607;
  text-shadow: 1px 2px whitesmoke;
}
.congo-palying-card .cmn-2x-card {
  padding: 10px;
  font-size: 16px;
}
.congo-palying-card .name-row {
  max-width: 100px;
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.congo-palying-card .palying-user-row .palying-user-col + .palying-user-col {
  align-self: flex-start;
  padding-top: 20px;
}


/*dialog*/
.team-name,
.p-name,
.data-countdown,
.mdl-button,
.mdl-card__title-text,
.payer-detail,
.name-row {
  font-family: 'courier new', "Roboto","Helvetica","Arial",sans-serif; // 'Exo 2'
}
td {
  position: relative;
}
.check-click {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}
.fan-tab-btn.mdl-tabs__tab {
  float: none;
  line-height: normal;
  height: auto;
}
.full-detail-table img {
  max-width: 100px;
}
.mdl-dialog {
  width: auto;
  max-width: 600px;
}
.mdl-dialog__actions {
  border-top: solid 1px #eee;
  margin: 20px 0 0;
}
.mdl-dialog__actions .mdl-button + .mdl-button {
  margin-left: 10px;
}
dialog {
  position: absolute;
  left: 10%;
  right: 10%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: none;
}
dialog[open] {
display: block
}
dialog+.backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0, 0, 0, 0.1)
}
._dialog_overlay {
    position: fixed;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 10px
}
.dialog-container,
.loading-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.dialog-container > div {
  position: relative;
  width: 90%;
  max-width: 500px;
  min-height: 25px;
  margin: 10% auto;
  z-index: 99999;
  padding: 16px 16px 0;
}

.dialog-button-bar {
  text-align: right;
  margin-top: 8px;
}

.loading-container > div {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10% auto;
  z-index: 99999;
}

.loading-container > div > div {
  width: 100%;
  height: 100%;
}
.dialog-container .mdl-button + .mdl-button {
  margin-left: 10px;
}
.mdl-dialog__content {
  padding: 0;
}
.dialog-heding {
  margin: -0.7em -0.7em 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-bottom: solid 1px #eee;
}
.mdl-dialog__content p {
  margin: 10px 0 0;
}
.mdl-dialog__content .mdl-tabs__tab-bar {
 border: solid 1px #eee;
 margin: 10px 0 20px;
}
.mdl-dialog__content .mdl-tabs__tab-bar:first-of-type {
  margin-bottom: 40px;
}
.mdl-dialog__content .mdl-tabs__tab-bar a + a{
  border-left: solid 1px #eee;
}
.popup-heading {
  padding-bottom: 20px;
}
.small-tabs {
  display: inline-block;
  height: auto;
}
.small-tabs a {
  padding: 10px 20px;
  height: auto;
  line-height: normal;
}
.s-link {
  font-size: 18px;
}
.s-link + .s-link {
  margin-left: 10px;
}


/*live-match-page*/
.live-match-page .fantoss-media-card{
  padding-top: 20px;
}
.live-match-page .fantoss-card-container .mdl-card__actions{
  padding: 20px 10px;
}
.live-match-page .fantoss-tour-media-card-row {
  padding: 0;
}
.live-match-page .fantoss-tour-media-card-row small {
  font-size: 10px;
  vertical-align: text-top;
}
.live-match-page .fantoss-tour-media-card-row .mdl-card__actions {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.live-match-page .top-page-heading {
  height: auto;
  color: rgba(43, 43, 43, 0.4);
  border-color: rgba(43, 43, 43, 0.4);
  text-align: left;
  background: none;
  line-height: normal;
  padding: 10px 0;
  font-family: courier new;
}

.live-match-page .top-page-heading a {
  height: auto;
  margin-top: 0;
  line-height: 35px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 5px;
  width: 40px;
  text-transform: none;
  font-family: courier new;
}
.live-match-table {
  overflow: scroll;
  font-family: courier new;
}
.live-match-table .player-circle {
  vertical-align: middle;
  margin-right: 5px;
}
.slider-row {
  margin: 30px 20px 10px;
}
.fantoss-slider {
}
.fantoss-slider .mdl-card {
  border: solid 1px #d9d9d9;
}

.fantoss-slider .user-block {
  padding: 15px 10px 20px;
}
.fantoss-slider .user-block .player-circle {
  width: 70px;
}
.bx-wrapper .player-name,
.bx-wrapper .user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fantoss-slider .user-name {
  padding: 5px 0 10px;
  border-bottom: solid 1px #d9d9d9;
  margin-bottom: 15px;
  color: #25c8fb
}
.fantoss-slider .user-block .play-dteail {
  line-height: 1.5;
}
.fantoss-slider .mdl-card__actions{
  padding: 0;
}
.fantoss-slider .mdl-card__actions a{
  display: block;
  padding: 5px 0;
  text-transform: none;
  font-size: 16px;
}
.live-match-page .mdl-data-table tr {
  height: auto;
  background: none;
  position: static;
}
.live-match-page table {
  border: solid 1px #cacaca;
  margin: 40px 0;
}
.live-match-page table td,
.live-match-page table th,
.live-match-page table td:first-of-type,
.live-match-page table th:first-of-type {
  padding: 20px 5px;
}
.live-match-page table td,
.live-match-page table th {
  height: auto;
  border-top: none;
  border-bottom: solid 1px #cacaca;
  text-align: left;
  line-height: 1.3;
  position: static;
  font-size: 16px;
}
.live-match-page table td+td,
.live-match-page table th+th{
  border-left: solid 1px #cacaca;
}
.live-match-page .grey-row td{
  background: #ecf0f1;
}
.live-match-page table .blue-row td {
  background: #90a3c3;
  color: #fff;
  padding: 10px;
  line-height: 1;
}
.top-batsman-row td {
  color: green;
  font-weight: 500;
}
.embed-container { position:relative;padding-bottom:100%;height: 0;overflow: hidden; -webkit-overflow-scrolling:touch;}
.embed-container iframe{ position: absolute; left: 25%; top: 10%; width: 50%; height: 40%; }

/*small mobile layout*/
@media (min-width: 840px){
  .fantoss-tour-media-card-row .mdl-button {
    padding: 0 2px;
    font-size: 1vw;
  }
  .data-countdown {
    font-size: 1.4vw;
  }
  .fantoss-body-content {
    max-width: 85%;
    margin: 0 auto;
  }
  .mdl-cell.congo-palying-card,
  .mdl-cell.league-palying-card {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .mdl-button.mdl-button--colored.how-play-video {
    height: 197px;
  }
  .play-with-fb {
    max-width: 80%;
  }
}
@media (min-width: 768px) {
  .fan-mojo-form .birth-block .mdl-textfield {
    width: 30%;
  }
  .fan-mojo-form .birth-block .mdl-textfield + .mdl-textfield {
    margin-left: 4.3%;
  }
}

@media (max-width: 767px){
  .embed-container iframe{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  .user-row .hm-contest:nth-child(3) ~ .hm-contest{
    display: none;
  }
  .user-row .hm-contest .fan-mojo-circle-crad {
    width: 50px;
    height: 50px;
  }
  .contest-message .sub-slogan {
  }
  .highlight-section{
    font-size: 1em;
  }
  .contest-message {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .winning-chance {
    padding-top: 20px;
  }
  .challenge-friend-slogan.mdl-button.pwf {
    width: 90%;
  }
  .team-select-container td,
  .team-select-container th{
    line-height: 1.2 !important;
    white-space: normal !important;
  }
  dialog {
    left: 5px;
    right: 5px;
    padding: 0.5em;
  }
  dialog .mdl-tabs__tab-bar {
    height: auto;
  }
  dialog .mdl-tabs__tab-bar.justify-tabs .mdl-tabs__tab,
  .small-tabs a {
    padding: 10px 8px;
    line-height: normal;
    height: auto;
  }
  .small-tabs a {
    font-size: 12px;
  }
}

.mdl-layout__drawer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 300px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(310px);
    -ms-transform: translateX(310px);
    transform: translateX(310px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.mdl-layout__obfuscator-right {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-layout__drawer-right.active~.mdl-layout__obfuscator-right {
    background-color: rgba(0,0,0,.5);
    visibility: visible;
}

.mdl-layout__drawer-right #chat_container{
  height:100%;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
