/ .fb-like{"data-action" => "like", "data-href" => "{URL}", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "false"}

- show_comment = 'false' if local_assigns[:show_comment].nil?

- app_id = ENV['AUTH_FACEBOOK_KEY']


/ - url = "https://www.facebook.com/dialog/feed?app_id=#{app_id}&display=popup&caption=#{caption}&link=#{share_url}&redirect_uri=#{share_url}"
- url = "https://www.facebook.com/dialog/share?app_id=#{app_id}&display=popup&href=fangully.com&redirect_uri=#{share_url}"

%div.sub_content.text-center
  = link_to url , class: '' ,:onclick=>"window.open(this.href,'Fangully - play short cricket contest', 'toolbar=0,status=0,width=626,height=436');return false;"  do
    %i.ion-social-facebook-outline{style: 'font-size:21px'}
    &nbsp;
    Invite your Friends to play
    / %br/
    / %small.uppercase{style: 'font-size: 12px;color: rgb(255, 106, 0);'} More the people, more is the fun
/ %span.st_facebook_large{:displayText => "Invite Friends on Facebook"}
/ %span.st_twitter_large{:displayText => "Tweet"}
/ %span.st_linkedin_large{:displayText => "LinkedIn"}
/ %span.st_email_large{:displayText => "Email"}


/ :javascript
/   var switchTo5x=true;
/ %script{:src => "https://ws.sharethis.com/button/buttons.js", :type => "text/javascript"}
/ :javascript
/   stLight.options({publisher: "5edbb100-ae9a-4c93-8e62-ddca396e6a89", doNotHash: false, doNotCopy: false, hashAddressBar: false});
