%footer.fan-mojo-footer.mdl-mega-footer
  %section.mdl-mega-footer--top-section
    .mdl-mega-footer--left-section.text-center.mdl-cell--hide-phone.mdl-cell--hide-tablet
      / %p News Partner
      / %a.mdl-navigation__link{:href => "http://goo.gl/rxz0Y0", onclick: "ga('send', 'event', 'outgoing link footer', 'http://www.cricketnmore.com');", target: '_blank'}
      /   %img{:alt => "cricketmmore", :border => "0", :src => asset_url("cricket_more.png"), width: 200}
    .mdl-mega-footer--left-section.text-center
      %p 100% Safe and Secure
      %img{:alt => "paytm", :border => "0", :src => asset_url('paytm-logo.png')}
    .mdl-mega-footer--right-section.text-right
      / %p
      /   %i.material-icons call
      /   %a{:href => "tel:9717944194", "data-mixpanel" => "Footer Call button clicked"} 9717944194
      / %p.mdl-cell--hide-phone.mdl-cell--hide-tablet
      /   %a{:href => "https://mixpanel.com/f/partner", rel:"nofollow"}
      /     %img{src: "//cdn.mxpnl.com/site_media/images/partner/badge_light.png", alt: "Mobile Analytics"}
    .mdl-mega-footer--right-section.text-right{style: 'margin-right:10px;'}
      %p
        %i.material-icons email
        %a{:href => "mailto:support@fantoss.com"} support@fantoss.com
    / .mdl-mega-footer--right-section.text-center.mdl-cell--hide-phone.mdl-cell--hide-tablet{style: 'margin-right:40px;'}
    /   %p
    /     %a{:href => "https://mixpanel.com/f/partner", rel:"nofollow"}
    /       %img{src: "//cdn.mxpnl.com/site_media/images/partner/badge_light.png", alt: "Mobile Analytics"}

  / .mdl-mega-footer__bottom-section.mdl-cell--hide-desktop
  /   .mdl-logo{style: 'color: #7F7F7F;'} News Partner
  /   .mdl-mega-footer__link-list
  /     %li
  /       %a.mdl-navigation__link{:href => "http://goo.gl/rxz0Y0", onclick: "ga('send', 'event', 'outgoing link footer', 'http://www.cricketnmore.com');", target: '_blank'}
  /         %img{:alt => "cricketmmore", :border => "0", :src => asset_url("cricket_more.png"), width: 200}
