-# JavaScripts included in <body> for initializing Backbone views, etc.

-# Immediately executable javascript


/ - content_for :on_ready do
/   _pe.subscribe();

- content_for :on_ready do
  function blinker() { $('.blink_me').fadeOut(1000); $('.blink_me').fadeIn(1000); }
  setInterval(blinker, 2000);
  window.fcWidget.init({token: "2ef76b93-1731-4764-9a15-a5f9d1dc9eaa",host: "https://wchat.freshchat.com"});


- if content_for? :javascript
  = yield :javascript

/ -# Document ready javascript
- if content_for? :on_ready
  :javascript
    head.ready(function(){
      #{yield :on_ready}
    })

