/ _menu.html.haml

#navigationModal.modal
  %header.bar.bar-nav
    %a.icon.icon-close.pull-right{:href => "#navigationModal"}
    %h1.title FanGully Navigation
  .content
    %ul.table-view
      %li.table-view-cell
        %a.navigate-right{ href: about_path } About us
      %li.table-view-cell
        %a.navigate-right{ href: how_to_play_path } How to Play
      %li.table-view-cell
        %a.navigate-right{ href: contact_path } Contact Us
      / %li.table-view-cell
      /   %a.navigate-right{ href: privacy_path } Legal