/ - msg = false if local_assigns[:msg].nil?

/ - flash.each do |name, msg|
/   - if msg.is_a?(String) and msg.present?
/     - type = (['info', 'success', 'warning', 'danger'].include?(name.to_s) ? name : 'info')
/     %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
/       .mdl-card__actions
/         %span.uppercase= msg

/ - if msg.present? and msg.is_a?(String) 
/   - type = (['info', 'success', 'warning', 'danger'].include?(name.to_s) ? name : 'info')
/   %article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
/     .mdl-card__actions
/       %span.uppercase= msg

/ humane.log