- bat_points = Rails.application.config.points.batting
- bowl_points = Rails.application.config.points.bowling

%table.mdl-data-table.data-collection-table.table-full{:cellspacing => "0", :cllpadding => "0"}
  - if user_team.present?
    %tr.grey-row.bold.last-total-row.mdl-cell--hide-desktop
      %td{:colspan => "13"}= "Total: #{ user_team.totalscore }"

  %tr.heading-row
    %th
      - if user_team.present?
        = "#{user_team.user.display_name}'s team"
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
    %th Pts
  %tr.blue-row
    %td Player
    %td Runs
    %td 4s
    %td 6s
    %td 50
    %td 100
    %td 200
    %td Duck
    %td WKT
    %td MDN
    %td 4WKT
    %td 5WKT
    %td Total
  - players.decorate.each do |player|
    %tr.top-batsman-row
      %td
        %span.player-circle
          %img{"data-src" => "#{player.thumb}"}/
        %span
          = player.name
          - if user_team.present? && player.id==user_team.captain_id
            %small{style: 'color: #F44336;font-size: 1.5em;'} **
          - if user_team.present? && player.id==user_team.vice_captain_id
            %small{style: 'color: #F44336;font-size: 1.5em;'} *

      - ps = player.current_match_score(match)
      - four_wickets_haul = 0
      - five_wickets_haul = 0
      - four_wickets_haul = 1 if ps.try(:bowl_wickets).to_i == 4
      - five_wickets_haul = 1 if ps.try(:bowl_wickets).to_i == 5
      %td{}= "#{ps.try(:bat_singles).to_f}"
      %td{}= "#{ps.try(:bat_fours).to_f * bat_points.four}"
      %td{}= "#{ps.try(:bat_sixes).to_f * bat_points.six}"
      %td{}= "#{ps.try(:bat_fifties).to_f * bat_points.half_century}"
      %td{}= "#{ps.try(:bat_hundreds).to_f * bat_points.century}"
      %td{}= "#{ps.try(:bat_double_hundreds).to_f * bat_points.double_century}"
      %td{}= "#{ps.try(:bat_duck).to_f * bat_points.out_for_duck.to_f + 0 }"
      %td{}= "#{ps.try(:bowl_wickets).to_i * bowl_points.wicket_taken}"
      %td{}= "#{ps.try(:bowl_maidens).to_i * bowl_points.maiden_over}"
      %td{}= "#{five_wickets_haul * bowl_points.five_wicket_haul}"
      %td{}= "#{five_wickets_haul * bowl_points.five_wicket_haul}"
      %td
        - if user_team.present? && player.id==user_team.captain_id
          = " #{ps.total.to_f * UserTeam::CAPTAIN_SCORE_MULTIPLIER} (#{ ps.total.to_f } * #{ UserTeam::CAPTAIN_SCORE_MULTIPLIER })"
        - elsif user_team.present? && player.id==user_team.captain_id1
          = " #{ps.total.to_f * UserTeam::VICE_CAPTAIN_SCORE_MULTIPLIER} (#{ ps.total.to_f } * #{ UserTeam::VICE_CAPTAIN_SCORE_MULTIPLIER })"
        - else
          = ps.total.to_f

  - if user_team.present?
    %tr.grey-row.bold.last-total-row
      %td{ colspan: "12" } Total
      %td= user_team.totalscore
