.text-center
  %a.small_content.uppercase{ href: match_path(m)}
    %i.ion-android-arrow-back
    = m.display_name
%br/
.orange_pitch
  = "#{l.name} Contest"
.carded
  .row
    .col-md-4.col-md-offset-2.text-center
      %div.sub_content.text-center{style: 'padding:10px'}
        %div.rupee_img
        %span= l.prize_money
        Total Prize
      %hr.rule250
      %div.sub_content.text-center{style: 'padding:10px'}
        %div.rupee_img
        %span= l.entry_fee
        %span Entry Fees
    .col-md-4
      %ul.small_content.text-center{style: 'padding:10px'}
        %li.item.sub_content Total 2 winners
        %li.item First   Rank  : INR 150
        %li.item Second  Rank  : INR 100
  %hr.rule250
  %div.text-center{style: 'padding:10px'}
    %p.sub_content= "#{l.joined} out of #{l.limit} teams joined"
    %p= render 'layouts/fb_share', caption: "Playing #{l.name} Contest on Fangully.com for #{m.display_name} Match", share_url: match_league_url(m,l)

  %ul.steps
    - if l.is_fake
      %li.active
        %p.sub_content= "#{l.fake_size} / #{l.fake_size} spots filled" 
    - else
      / = nav_link match_league_path(m,l) do
      /   .label.label-default 1
      /   CONTEST RULES
      /   %span.chevron
      / - if @ut.present? && (action_name=='edit' || action_name=='show')
      - if @ut.present? && !@ut.new_record?
        = nav_link edit_match_league_user_team_path(m,l,@ut), true do
          .label.label-default 1
          EDIT TEAM
          %span.chevron
        = nav_link match_league_user_team_path(m,l, @ut) do
          .label.label-default 2
          - if @ut.transaction_status=='SUCCESS'
            PAID & JOINED
          - else
            PAY & JOIN
      - else
        %li.active.col-md-12.col-xs-12
          = link_to new_match_league_user_team_path(m,l), :"data-no-turbolink" => true do
            .label.label-default 1
            ADD YOUR TEAM
            %span.chevron
%br/