%article.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
  = render 'layouts/match_header', m: m
  .mdl-card__actions.mdl-card--border
    .mdl-grid.mdl-grid--no-spacing.palying-user-row
      .palying-user-col
        - m.user_playing_imgs.each do |img_url|
          %span.player-circle= image_tag img_url
      - if m.has_squad_data?
        .palying-user-col= "#{m.user_teams.count + m.id + m.default_fake_count} members playing"
  .mdl-card__actions.mdl-card--border.action_box

    - uts = get_ut(m)

    - if m.completed?
      .mdl-grid
        .mdl-cell.mdl-cell--12-col
          %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.btn-full.mdl-shadow--3dp{ href: leaderboard_match_path(m), "data-no-turbolink" => true }
            LEADERBOARD
            - if ( uts > 0 )
              = "( #{uts} team(s) )"
    - else
      - if m.has_squad_data?
        - if m.ongoing? || m.starting?
          .mdl-grid
            .mdl-cell.mdl-cell--12-col
              %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.btn-full.mdl-shadow--3dp{ href: leaderboard_match_path(m), "data-no-turbolink" => true }
                - if ( uts > 0 )
                  = "CHECK LIVE RANK ( #{uts} team(s) )"
                - else
                  LEADERBOARD
        - else
          - if ( uts > 0 )
            .mdl-grid
              .mdl-cell.mdl-cell--6-col
                %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.btn-full.mdl-shadow--3dp{ href: new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), "data-no-turbolink" => true }
                  %i.material-icons.dp36 playlist_add
                  ADD NEW TEAM
              .mdl-cell.mdl-cell--6-col
                %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.btn-full.mdl-shadow--3dp{ href: leaderboard_match_path(m), "data-no-turbolink" => true }
                  / %i.material-icons.dp36
                  = "SEE YOUR TEAMS (#{uts})"
          - else
            .mdl-grid
              .mdl-cell.mdl-cell--12-col
                %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.btn-full.mdl-shadow--3dp{ href: new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), "data-no-turbolink" => true, "data-meta-info" => "for #{m.team_names}" }
                  %i.material-icons.dp36 playlist_add_check
                  PICK YOUR TEAM


      - else
        %h5.text-center COMING SOON

/ = link_to provider_auth_path(provider, flow: 'login', clickMomentId: params["clickMomentId"]), data: {flow: 'login', provider: provider, :"width" => 600, :"height" => 400 }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-full mdl-shadow--3dp' do
/ PICK YOUR TEAM

/ %span.uppercase= m.tournament.name
/ .student_bx
/   %h2.tournament-heading
/     %span= m.match_detail
/   %br/
/   .student_bx_inner
/     .col-xs-6.price_txt
/       = image_tag m.home_team.flag_path, height: 80, width: 80
/       = m.home_team.name
/     .col-xs-6.bdr_lt.price_txt
/       = image_tag m.away_team.flag_path, height: 80, width: 80
/       = m.away_team.name
/   %br/
/   %h5.small_content.text-center
/     - if m.ongoing?
/       %i.ion-android-time
/       LIVE NOW
/     - elsif m.starting?
/       %i.ion-android-time
/       ABOUT TO START
/       .sub_content.clock.text-center{ data: { countdown: "#{m.start_time}" } }
/       %small User teams cannot be created or edited now
/     - elsif m.completed?
/       %i.ion-android-time
/       Completed
/       %br/
/       %small= "Match completed on #{m.match_end_time}"
/     - else
/       %i.ion-android-time
/       CLOSES IN
/       .sub_content.clock.text-center{ data: { countdown: "#{m.match_start_time}" } }
/   / leagues
/   - if m.has_squad_data?
/     .carded{style: 'border-width:0;border-top: 1px solid #F5F8F9;padding:10px;'}
/       .col-md-8
/         %p.media-body
/           - m.user_playing_imgs.each do |img_url|
/             %span.icon= image_tag img_url, class: "img-circle"
/           %span{style: 'font-size:17px'}= "+ #{m.user_teams.count + m.default_fake_count} more playing"
/       .col-md-4
/         - if m.ongoing? || m.completed?
/           - if current_user && current_user.is_admin?
/             = link_to "See Raw", "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20cricket.scorecard%20where%20match_id%3D#{ m.api_match_id }&format=json&diagnostics=true&env=store%3A%2F%2F0TxIGQMQbObzvU4Apia0V0&callback=", target: '_blank', class: 'btn btn-default btn-sm pull-right', target: '_blank'
/             &nbsp;&nbsp;
/             = link_to "Refresh score", refresh_player_score_api_data_path(match_id: m.api_match_id), class: 'btn btn-default btn-sm pull-right', method: :put
/         - else
/           %a.btn.btn-primary.btn-block.pull-right{ href: new_match_contest_user_team_path(match_id: m, contest_id: @top_5_contest.id), "data-no-turbolink" => true }
/             PLAY
/             %i.ion-arrow-right-c
/   - elsif m.starting? || m.completed?
/     %span
/   - else
/     %p.text-center COMING SOON

/   %br/
/   = render 'user_teams/ut_display', m: m

/ %br/
/ %br/
