/ _user.html.haml

.modal{id: 'userModal' }
  - if user_signed_in?
    %header.bar.bar-nav
      %a.icon.icon-close.pull-right{:href => "#userModal"}
      %h1.title= "Welcome #{current_user.display_name}"
    .content
      %ul.table-view
        - if current_user.is_admin?
          %li.table-view-cell= link_to I18n.t('admin.link'), admin_root_path, data: {"no-turbolink" => true}, class: 'navigate-right', data: { ignore: "push" }
        %li.table-view-cell= link_to I18n.t('account.edit.link'), edit_user_registration_path, class: 'navigate-right', data: { ignore: "push" }
        %li.table-view-cell= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow, data: { ignore: "push" }
  - else
    %header.bar.bar-nav
      %a.icon.icon-close.pull-right{:href => "#userModal"}
      %h1.title Welcome User
    .content
      Signup or signin to continue


