<div style="width:600px; margin:0 auto;">
  <div style="padding:15px 30px; background-color:#000; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:20px; text-align: center;">
    <img src="https://fantoss.com/img/logo.png" alt="https://fantoss.com" style="max-width:200px; vertical-align:middle; padding: 5px; background-color: #fff; border-radius: 5px">
  </div>
  <div style="border:solid 10px #000; border-top:none; padding:20px;  color:#4a4a4a; font-family:Arial, Helvetica, sans-serif; font-size:14px; background-color: #f6f6f6;">

    <%= yield %>

    <p>Regards</p>
    <p>
      Team fantoss<br>
      <a href="https://fantoss.com" name="https://fantoss.com">https://fantoss.com</a>
    </p>

    <div style="font-size: 10px; color: crimson; text-align: center;">
      <div>Enjoy your game and chase your dreams. Dreams do come true.</div>
      <div><strong>Sachin Tendulkar</strong></div>
    </div>

    <div style=" color:#aaa; border-top:solid 1px #f5f5f5; padding-top:15px; margin-top:20px; text-align:center">&copy; <%= Time.current.year %> fantoss </div>
  </div>
</div>
