/ - show_all ||= false
/ - hide_password ||= false

/ = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'text-left' } do |f|
/   %br/
/   = f.input :email, autofocus: true, required: true
/   - if show_all or resource.try(:first_name).present? or resource.try(:last_name).present?
/     %br/
/     = f.input :first_name
/     = f.input :last_name

/   - if resource.new_record?
/     %br/
/     = f.input :password, required: true, autocomplete: 'off', :input_html => { :value => Devise.friendly_token[0,20] }

/   - else # updating resource
/     = f.input :password, autocomplete: 'off', label: 'Password'
/     - if resource.password_required?
/       = f.input :current_password, autocomplete: 'off'

/   = f.input :phone
/   = f.input :state
/   = f.input :country, only: ["IN"]
/   = f.input :date_of_birth, as: :date, start_year: Date.today.year - 18, end_year: Date.today.year - 60, order: [:day, :month, :year]
/   / = f.date_select :date_of_birth
/   / = f.input :accepts, as: :boolean, checked_value: true, unchecked_value: false


/   %br/
/   = f.button :submit, class: 'btn btn-block btn-primary'

- states = ["Andhra Pradesh" , "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Delhi", "Goa", "Gujarat", "Haryana", "Himachal Pradesh", "Jammu & Kashmir", "Jharkhand", "Karnataka", "Kerala", "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland", "Odisha", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura", "Uttarakhand", "Uttar Pradesh", "West Bengal", "Andaman and Nicobar Islands", "Chandigarh", "Dadra and Nagar Haveli", "Daman and Diu", "Lakshadweep", "Puducherry" ]


.fantoss-body-content
  %article.mdl-grid
    .mdl-cell.mdl-cell--12-col.fan-mojo-form
      - if @auth && @verification_id.nil?
        %aside.top-page-heading
          %strong= "Hi, #{@auth.display_name}"
          complete your signin here by just verifying your mobile number.
      - elsif @auth.nil? && @verification_id.nil?
        %aside.top-page-heading
          %strong= "Hi,"
          signin by just simple mobile number verification.
      - elsif !resource.errors.present?
        %aside.top-page-heading
          %strong= "Please enter OTP sent to your phone"
      - if resource.errors.present?
        %aside.top-page-heading
          %strong Please fix the errors below
          - resource.errors.full_messages.each do |msg|
            %br/
            = msg
      = form_for resource, as: resource_name, url: registration_path(resource_name), html: {method: "post"} do |f|
        / - if resource.try(:email).blank?
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.hidden_field :password, :value => Devise.friendly_token[0,20]
        = f.hidden_field :country
        = f.hidden_field :referred_by_id, value: session[:referring_user].presence
        = f.hidden_field :referal_reward_value, value: session[:referal_reward_value].presence
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = f.text_field :phone, class: 'mdl-textfield__input', pattern: "-?[0-9]*(\\.[0-9]+)?"
          %label.mdl-textfield__label{:for => "user_phone"} Enter 10 digit Mobile no.
          %span.mdl-textfield__error Please enter correct Mobile No.
        - if @verification_id.present?
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            = f.text_field :otp, class: 'mdl-textfield__input'
            %label.mdl-textfield__label{:for => "user_otp"} Enter OTP.
            %span.mdl-textfield__error .
          = f.hidden_field :verification_id, value: @verification_id

        %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect{:for => "user_terms_of_service"}
          %input#user_terms_of_service.mdl-checkbox__input{:checked => "checked", :type => "checkbox", :name => "user[terms_of_service]"}/
          %span.mdl-checkbox__label.agree-text
            I agree to fantoss.com's
            %a{href: '#', target: "_blank"} Terms
            and have read the
            %a{href: '#', target: "_blank"} Privacy policy

        .mdl-card__actions
          %button.mdl-button.mdl-js-button.mdl-button--colored Submit

- content_for :on_ready do
  $('select[id*="date_of_birth"]').wrap('<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">');
  $("#user_state").val("#{resource.state}");


