%aside.top-page-heading
  Edit your account settings
%article.how-to-play-section.mdl-grid
  %ul.highlight-section
    %li Your Cash prizes will be sent to PAYTM wallet associated with this phone number. 
    %li All emails/sms related to result and upcoming matches will be sent to this email address/phone.
= render 'users/registrations/form', show_all: true

/ = render 'users/shared/links', disable_signup: true
/ - if devise_mapping.confirmable? and not resource.confirmed?
/   .alert.alert-warning.alert-dismissable
/     %button.close{'data-dismiss' => 'alert', 'aria-hidden' => true} &times;
/     %p= I18n.t 'devise.registrations.signed_up_but_unconfirmed'
/     %p= button_to I18n.t('auth.confirm.submit'), confirmation_path(resource_name), class: 'btn btn-warning btn-xs'
